@import url('fonts/raleway-bold.css');
@import url('fonts/kartika-bold.css');
@import url('fonts/roboto-regular.css');
@import url('fonts/raleway-light.css');
@import url('fonts/raleway-semibold.css');
@import url('fonts/roboto-light.css');
@import url('fonts/roboto-bold.css');
@import url('fonts/calibri.css');
@import url('fonts/luganskyv.css');
@import url('fonts/raleway-medium.css');
@import url('fonts/glasgowseriallightitalic.css');

body{
	background: #fff;
}

.wrap{
	overflow: hidden;
}

.center{
	max-width: 1000px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 10px;
}

.align_center{
	text-align: center;
}

header{
	background: url('../img/background.jpg') 100% 100% no-repeat;
	background-size: cover;
	width: 100%;
	padding-bottom: 177px;
}

header .header_top{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 17px 0 0 49px;
}

header .header_top .logo{
	display: inline-block;
	vertical-align: top;
}

header .header_top nav{
	display: inline-block;
	vertical-align: top;
}

header .header_top nav a{
	font-family: 'raleway-bold';
	font-size: 11px;
	text-decoration: none;
	line-height: 21px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding: 0 10px 6px 10px;
	margin: 0 25px 0 22px;
	display: inline-block;
	border-bottom: 3px solid transparent;
	-webkit-transition: .3s;
	transition: .3s;
}

header .header_top nav a:hover{
	border-bottom: 3px solid #fff;
}

header .header_middle{
	text-align: center;
}

header .header_middle h1{
	font-family: 'kartika-bold';
	font-size: 71px;
	color: #fff;
	line-height: 85px;
	padding: 166px 60px 76px 60px;
}

header .header_middle a{
	font-family: 'roboto-regular';
	color: #fff;
	width: 236px;
	height: 46px;
	font-size: 17px;
	background: #7ca5d9;
	line-height: 43px;
	border-radius: 30px;
	border: 2px solid transparent;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: .3s;
	transition: .3s;
}

header .header_middle a:hover{
	border: 2px solid #7ca5d9;
	background: transparent;
}

.download{
	height: 236px;
	display: block;
	background: #9577a7;
	text-align: center;
	position: relative;
}

.download ins{
	background: url('../img/back.png') no-repeat center;
	width: 103px;
	height: 34px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	bottom: 33px;
}

.download ins:before{
	content: '';
	width: 9px;
	height: 9px;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 2px;
	margin: auto;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.download h2{
	font-family: 'raleway-light';
	color: #fff;
	font-size: 25px;
	letter-spacing: 6px;
	margin-top: 10px;
}

.download p{
	font-family: 'raleway-semibold';
	color: #fff;
	font-size: 17px;
	padding: 28px 0 42px 0;
}

.download button{
	font-family: 'roboto-light';
	color: #fff;
	width: 210px;
	height: 40px;
	font-size: 17px;
	background: transparent;
	line-height: 40px;
	border-radius: 30px;
	border: 1px solid #fff;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: .3s;
	transition: .3s;
}

.download button:hover{
	border: 1px solid transparent;
	background: #fff;
	color: #9577a7;
}

.description{
	background: url('../img/img1.png') 100% 100% no-repeat;
	height: 550px;
}

.description .title_shadow{
	font-family: 'kartika-bold';
	font-size: 65px;
	color: #f6f6f6;
	display: inline-block;
	line-height: 63px;
	margin-top: 62px;
}

.description .description_title{
	font-family: 'roboto-bold';
	font-size: 37px;
	color: #000;
	margin-left: 105px;
	position: relative;
	bottom: 20px;
}

.description .description_title span{
	font-family: 'raleway-light';
	color: #969696;
	font-size: 37px;
}

.description .description_text{
	max-width: 368px;
	margin-left: 105px;
}

.description .description_text span{
	font-family: 'raleway-semibold';
	font-size: 15px;
	color: #000;
	line-height: 21px;
	display: inline-block;
	margin-top: 43px;
}

.description .description_text p{
	font-family: 'calibri-regular';
	font-size: 12px;
	color: #000;
	line-height: 20px;
	display: inline-block;
	margin: 20px 0 80px 0;
}

.description .description_text a{
	font-family: 'roboto-regular';
	color: #000;
	width: 186px;
	height: 45px;
	font-size: 17px;
	background: transparent;
	line-height: 43px;
	border-radius: 30px;
	border: 2px solid #68d4f8;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: .3s;
	transition: .3s;
	padding-left: 40px;
}

.description .description_text a:hover{
	background: #68d4f8;
	color: #fff;
}

.icons{
	background: #45b681;
	margin-bottom: 170px;
}

.icons .icons_block ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 60px 21px 72px 21px;
}

.icons .icons_block ul li{
	width: 24.8%;
	text-align: center;
	border: 2px dashed transparent;
	border-radius: 60px;
	padding: 40px 10px;
	-webkit-transition: .3s;
	transition: .3s;
}

.icons .icons_block ul li:hover{
	border: 2px dashed #fff;
}

.icons .icons_block ul li img{
	max-width: 100%;
}

.icons .icons_block ul li p{
	font-family: 'luganskiy';
	color: #fff;
	font-size: 14px;
	margin-top: 30px;
}

.join .join_top{
	height: 330px;
	background: url('../img/backg.jpg') repeat;
	background: #f4f4f4;
	display: block;
}

.join .join_top img{
	z-index: 1;
	position: relative;
	top: -20px;
	max-width: 100%;
}

.join .join_bottom{
	height: 395px;
	background: -webkit-radial-gradient(#f4f4f4 -80%, #5f85b3);
	background: -moz-radial-gradient(#f4f4f4 -80%, #5f85b3);
	background: -o-radial-gradient(#f4f4f4 -80%, #5f85b3);
	background: radial-gradient(#f4f4f4 -80%, #5f85b3);
	display: block;
}

.join .join_bottom h3{
	font-family: 'raleway-light';
	font-size: 30px;
	color: #fff;
	letter-spacing: 8px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 170px;
}

.join .join_bottom ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 50px;
	padding: 0 30px 0 10px;
}

.join .join_bottom ul li{
	text-align: center;
	width: 29%;
}

.join .join_bottom ul li span{
	font-family: 'raleway-medium';
	font-size: 18px;
	color: #fff;
}

.join .join_bottom ul li p{
	font-family: 'raleway-light';
	font-size: 16px;
	color: #fff;
	margin-top: 20px;
}

.testimonial{
	margin-bottom: 50px;
}

.testimonial .title_shadow{
	font-family: 'kartika-bold';
	font-size: 65px;
	color: #f6f6f6;
	display: inline-block;
	line-height: 63px;
	margin-top: 41px;
}

.testimonial .testimonial_title{
	font-family: 'roboto-bold';
	font-size: 30px;
	color: #000;
	position: relative;
	bottom: 30px;
	text-align: center;
}

.testimonial .testimonial_title span{
	font-family: 'raleway-light';
	color: #969696;
	font-size: 30px;
}

.testimonial .slider_tabs{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.testimonial .slider_tabs .prev{
	width: 17px;
	height: 17px;
	border-left: 4px solid #989898;
	border-top: 4px solid #989898;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
	border-radius: 30%;
	position: relative;
	margin-left: 38px;
	top: 88px;
	cursor: pointer;
	z-index: 3;
	-webkit-transition: .3s;
	transition: .3s;
}

.testimonial .slider_tabs .prev:hover{
	border-color: #9577a7;
}

.testimonial .slider_tabs .next{
	width: 17px;
	height: 17px;
	border-right: 4px solid #989898;
	border-bottom: 4px solid #989898;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
	border-radius: 30%;
	position: relative;
	margin-right: 38px;
	top: 88px;
	cursor: pointer;
	z-index: 3;
	-webkit-transition: .3s;
	transition: .3s;
}

.testimonial .slider_tabs .next:hover{
	border-color: #9577a7;
}

.testimonial .testimonial_slider ul{
	text-align: center;
	position: relative;
}

.testimonial .testimonial_slider ul li{
	display: none;
}

.testimonial .testimonial_slider ul li .slider_block{
	font-family: 'glasgo';
	color: #2a2a2a;
	max-width: 534px;
	font-size: 20px;
	line-height: 21px;
	background: #f6f6f6;
	display: inline-block;
	padding: 40px 30px;
	text-align: left;
	margin-bottom: 80px;
	position: relative;
	height: 158px;
	opacity: 0.5;
}

.testimonial .testimonial_slider ul li .slider_block:before{
	content: '';
	width: 16px;
	height: 8px;
	background: url(../img/ico7.png);
	position: absolute;
	left: 36px;
	top: 25px;
}

.testimonial .testimonial_slider ul li .slider_block:after{
	content: '';
	width: 16px;
	height: 8px;
	background: url(../img/ico6.png);
	position: absolute;
	right: 34px;
	bottom: 23px;
}

.testimonial .testimonial_slider ul li p{
	font-family: 'roboto-light';
	color: #2a2a2a;
	font-size: 17px;
	display: block;
	opacity: 0.5;
	-webkit-transition: .4s;
	transition: .4s;
}

.testimonial .testimonial_slider ul li p img{
	position: relative;
	bottom: 16px;
	right: 10px;
}

.testimonial .testimonial_slider ul li.active{
	display: block;
}

.testimonial .testimonial_slider ul li.active .slider_block{
	opacity: 1;
	-webkit-transition: .4s;
	transition: .4s;
}

.testimonial .testimonial_slider ul li.active p{
	opacity: 1;
	-webkit-transition: .4s;
	transition: .4s;
}

footer{
	background: url('../img/footer_backg.jpg') repeat;
	background: #212934;
	height: 126px;
	padding: 30px 0px 0 0;
}

footer .center{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

footer .center .logo{
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}

footer .center ul{
	font-family: 'raleway-medium';
	font-size: 9px;
	color: #fff;
	padding-top: 13px;
}

footer .center ul li{
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	cursor: pointer;
}

footer .center ul li:last-child{
	margin-right: 0;
}

footer .center ul li:hover{
	text-decoration: underline;
}

footer .center .footer_contact{
	display: inline-block;
	vertical-align: top;
}

footer .center .footer_contact a{
	font-family: 'roboto-regular';
	font-size: 12px;
	display: block;
	color: #fff;
	text-decoration: none;
	margin-bottom: 17px;
}

footer .center .footer_contact a:last-child{
	margin-bottom: 0;
}

footer .center .footer_contact a:hover{
	text-decoration: underline;
}

footer .footer_bottom{
	font-family: 'roboto-bold';
	color: #fff;
	font-size: 11px;
	text-align: center;
	position: relative;
	right: 18px;
	margin-top: 24px;
}

.button_to_top{
	position: fixed;
	bottom: -79px; right: 20px;
	margin: auto;
	height: 40px;
	width: 40px;
	border: 1px solid #989898;
	background: #f6f6f6;
	border-radius: 50%;
	cursor: pointer;
	display: none;
	z-index: 5;
	-webkit-transform: translateY(-100px);
	        transform: translateY(-100px);
	-webkit-transition: .4s;
	transition: .4s;
}

.button_to_top span{
	position: absolute;
	top: 7px;
	left: 0;
	bottom: 0;
	right: 0;
	width: 17px;
	height: 17px;
	margin: auto;
	border-left: 4px solid #989898;
	border-top: 4px solid #989898;
	border-radius: 30%;
	-webkit-transition: .4s;
	transition: .4s;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.button_to_top.active{
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	z-index: 10px;
}

@media screen and (max-width: 768px){

	header .header_middle h1{
		font-size: 50px;
		line-height: 70px;
		padding: 80px 30px 100px 30px;
	}

	.description{
		height: 460px;
	}

	.description .description_text span{
		background: rgba(0, 0, 0, .3);
		color: #fff;
		margin-top: 15px;
		padding: 10px;
	}

	.description .description_text p{
		background: rgba(0, 0, 0, .3);
		color: #fff;
		margin-bottom: 40px;
		padding: 10px;
	}

	.description .description_text a{
		background: #68d4f8;
		color: #000;
	}

	.description .description_text a:hover{
		background: transparent;
	}

	.icons{
		margin-bottom: 70px;
	}

	.icons .icons_block ul{
		padding: 30px 10px 30px 10px;
	}

	.icons .icons_block ul li{
		padding: 20px 5px;
	}

	.button_to_top{
		display: block;
	}
}

@media screen and (max-width: 680px){

	.testimonial .testimonial_slider ul li .slider_block{
		max-width: 380px;
	}
}

@media screen and (max-width: 600px){

	header{
		padding-bottom: 100px;
	}

	header .header_top{
		padding: 10px 0 0 0;
	}

	header .header_top nav a{
		margin: 0 0 0 20px;
	}

	header .header_middle h1{
		font-size: 40px;
		padding: 80px 0 100px 0;
	}

	header .header_middle a{
		width: 200px;
		height: 40px;
		line-height: 36px;
	}

	.download h2{
		line-height: 30px;
		margin-top: 0;
	}

	.download p{
		padding: 20px 0 20px 0;
	}

	.description{
		height: 480px;
	}

	.description .title_shadow{
		font-size: 50px;
		margin-top: 50px;
	}

	.description .description_title{
		margin-left: 60px;
	}

	.description .description_text{
		margin-left: 60px;
	}

	.description .description_text a{
		color: #fff;
	}

	.icons .icons_block ul{
		display: block;
		padding: 0 30px 30px 30px;
	}

	.icons .icons_block ul li{
		width: 100%;
	}

	.join .join_top{
		height: 330px;
	}

	.join .join_bottom{
		height: 390px;
	}

	.join .join_bottom h3{
		padding-top: 120px;
		margin-top: 0px;
	}

	.join .join_bottom ul{
		display: block;
		text-align: center;
		margin-top: 30px;
		padding: 0 10px 0 10px;
	}

	.join .join_bottom ul li{
		width: 100%;
	}

	.join .join_bottom ul li p{
		margin-top: 5px;
		margin-bottom: 25px;
	}

	.testimonial .title_shadow{
		font-size: 49px;
		margin-top: 34px;
	}

	.testimonial .testimonial_slider ul li .slider_block{
		max-width: 350px;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 500px){

	header .header_top nav a{
		margin-left: 0;
	}

	.description{
		text-align: center;
	}

	.description .title_shadow{
		font-size: 40px;
		margin-top: 30px;
	}

	.description .description_title{
		margin-left: 0px;
	}

	.description .description_title span{
		font-size: 30px;
	}

	.description .description_text{
		margin-left: 30px;
		margin-right: 30px;
		max-width: 100%;
	}

	.description .description_text a{
		padding-left: 0;
	}

	.join .join_top{
		height: 260px;
	}

	.testimonial{
		margin-bottom: 14px;
	}

	.testimonial .slider_tabs .prev{
		top: -16px;
		bottom: 18px;
		margin-left: 95px;
	}

	.testimonial .slider_tabs .next{
		top: -16px;
		bottom: 18px;
		margin-right: 95px;
	}

	footer{
		padding-top: 10px;
	}

	footer .center{
		display: block;
		text-align: center;
	}

	footer .center ul{
		padding-top: 10px;
	}

	footer .center .footer_contact{
		padding-top: 10px;
	}

	footer .center .footer_contact a{
		margin-bottom: 10px;
	}

	footer .footer_bottom{
		margin-top: 10px;
		right: 0;
	}

	.testimonial .title_shadow{
		font-size: 38px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 380px){

	header .header_top{
		display: block;
		text-align: center;
	}

	header .header_top nav a{
		padding: 10px 10px 6px 10px;
	}

	header .header_middle h1{
		padding: 40px 0 40px 0;
	}
	.join .join_bottom{
		height: 340px;
	}
	.join .join_bottom h3{
		padding-top: 60px;
	}

	.testimonial .testimonial_slider ul li .slider_block{
		height: 178px;
	}
}
