@import url('fonts/opensans.css');
@import url('fonts/opensans-bold.css');

body{
	font-family: 'opensans';
	font-size: 14px;
	overflow-y: none!important;
}

body a{
	text-decoration: none;
}

body h2{
	font-size: 24px;
}

.center{
	max-width: 980px;
	padding: 0;
	min-width: 980px;
	margin: 0 auto;
}

.wrap{
	overflow: hidden;
}

header{
	background: url(../img/header-backgr.png) no-repeat top center;
	height: 108px;
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding-top: 17px;
    z-index: 10;
}

header .center{
	padding: 0 30px;
}

header a{
	color: #fff;
}

header .nav_title{
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	background: url(../img/ico.png) no-repeat left;
	padding-left: 44px;
	-webkit-transition: .4s;
	transition: .4s;
}

header .nav_title:hover{
	font-family: 'opensans-bold';
}

header nav{
	vertical-align: top;
	position: absolute;
	top: 34px;
	left: 20px;
	padding-left: 10px;
	max-width: 210px;
	min-width: 210px;
	padding: 13px 0px 13px 0px;
	line-height: 30px;
	background: url('../img/menu.png') no-repeat left;
	background-size: 100%;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	visibility: hidden;
	opacity: 0;
}

header nav.active{
	opacity: 1;
	visibility: visible;
}

header nav li{
	padding-left: 10px;
}

header nav a{
	display: block;
	text-decoration: none;
}

header nav a:hover{
	font-family: 'opensans-bold';
}

header nav .dropdown_menu:hover{
	background: #0070af;
}

header nav .dropdown_menu ul{
	position: absolute;
	left: 180px;
	width: 240px;
	padding-left: 25px;
	z-index: -1;
	top: 0;
	background: #0070af;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	visibility: hidden;
	opacity: 0;
}

header nav .dropdown_menu ul.active{
	opacity: 1;
	visibility: visible;
}

header .logo{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: 65px;
	top: -12px;
}

header .logo img{
	max-width: 100%;
}

.main{
	background: url(../img/background.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.ads_stock{
	background: url(../img/background2.jpg) no-repeat center;
 	background-size: cover;
}

.ads_stock .button_to_action .to_action{
	width: 400px;
	height: 68px;
	background: #a26f62;
	display: block;
	position: absolute;
	bottom: 50px;
	right: 20px;
	line-height: 60px;
	padding: 10px 0 0 60px;
	-webkit-clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.ads_stock .button_to_action .to_action .phone{
	font-family: 'opensans-bold';
	font-size: 18px;
	color: #fff;
	display: inline-block;
	padding-left: 30px;
	background: url(../img/ico-8.png) no-repeat left;
	position: relative;
	line-height: 30px;
	margin-right: 40px;
}

.ads_stock .button_to_action .to_action .phone:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 30px;
	right: 0;
	margin: auto;
	width: 221px;
	height: 1px;
	background: #fff;
}

.ads_stock .button_to_action .to_action .phone:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: -90px;
	width: 1px;
	height: 16px;
	background: #fff;
}

.ads_stock .button_to_action .to_action .button{
	font-size: 10px;
	color: #fff;
	width: 96px;
	height: 28px;
	border: 1px solid #fff;
	-webkit-transition: .4s;
	transition: .4s;
	display: inline-block;
	padding: 10px;
	line-height: 7px;
	position: absolute;
}

.ads_stock .button_to_action .to_action .button:hover{
	background: #fff;
	color: #a26f62;
}

.ads_stock .top .t_left{
	background: #1c3047;
}

.ads_stock .bottom .b_left{}

.ads_stock .bottom .b_right{
	background: #a26f62;
}

.top{
	overflow: hidden;
}

.top .t_left{
	width: 45.3%;
	float: left;
}

.top .t_left .t_l_hide{
	width: auto;
}

.top .t_left .top_content{
	width: 430px;
	float: right;
}

.top .t_right{
	float: right;
}

.bottom{
	overflow: hidden;
}

.bottom .b_left{
	float: left;
}

.bottom .b_right{
	float: right;
	width: 54.7%;
}

.bottom .b_right .bottom_content{
	width: 540px;
	float: left;
}

.bottom .b_right .b_l_hide{
	width: auto;
}

.stock{
	color: #fff;
	font-size: 24px;
	padding: 140px 20px 140px 20px;
}

.stock h2{
	line-height: 30px;
	letter-spacing: 0.7px;
}

.stock p{
	line-height: 30px;
	letter-spacing: 0.7px;
}

.ads{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.ads li{
	display: inline-block;
	padding: 46px 10px 50px 10px;
	text-align: center;
	height: 340px;
}

.ads li:first-child{
	background: #1c3047;
	min-width: 270px;
}

.ads li p{
	font-size: 24px;
	color: #fff;
	line-height: 30px;
	letter-spacing: 0.7px;
}

.ads li span{
	font-size: 24px;
	color: #fff;
	line-height: 30px;
	letter-spacing: 0.7px;
}

.ads li .main_button{
	display: inline-block;
	margin-top: 20px;
	-webkit-transition: .4s;
	transition: .4s;
}

.ads li .main_button:hover{
	background: #fff;
	color: #1c3047;
}

.main_button{
    padding: 12px 35px 12px 35px;
	border: 1px solid #6a7786;
	font-size: 14px;
	color: #fff;
	box-shadow: -1px 0px 0px -1px #fff, 0px 1px 0px 1px #fff;
}

.main_button:hover{
	border-color: transparent;
	box-shadow: none;
}

.about_reviews{
	background: url(../img/background3.jpg) no-repeat center;
	background-size: cover;
}

.about_reviews .top .t_left{
	background: #fff;
}

.about_reviews .bottom .b_right{
	background: #fff;
}

.about_reviews p{
	color: #1c3047;
	padding-top: 12px;
	font-size: 14px;
	line-height: 17px;
	padding-right: 24px;
}

.about_reviews h2{
	font-size: 24px;
	color: #1c3047;
	line-height: 29px;
	letter-spacing: 0.7px;
}

.about{
	padding: 30px 30px 40px 20px;
}

.reviews{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 20px;
}

.reviews .reviews_item{
	display: block;
	padding: 30px 20px 10px 0px;
	min-width: 270px;
}

.reviews .reviews_item:first-child{
	min-width: 270px;
	padding: 42px 10px 10px 10px;
	text-align: center;
}

.reviews .reviews_item .reviews_link{
	font-size: 24px;
	color: #1c3047;
	line-height: 30px;
	letter-spacing: 0.7px;
	-webkit-transition: .4s;
	transition: .4s;
	text-transform: uppercase;
}

.reviews .reviews_item .reviews_link:hover{
	font-family: 'opensans-bold';
}

.reviews .reviews_item ul{
	padding: 0 20px;
}

.reviews .reviews_item ul li{
	display: block;
	padding-bottom: 20px;
	letter-spacing: -0.7px;
	padding-bottom: 52px;
	position: relative;
}

.reviews .reviews_item ul li:last-child:after{
	display: none;
}

.reviews .reviews_item ul li:after{
	content: '';
	width: 1px;
	height: 34px;
	background: #98958f;
	position: absolute;
	bottom: 7px;
	left: 0;
	right: 0;
	margin: auto;
}

.reviews .reviews_item .main_button{
	color: #1c3047;
	padding: 10px 20px 10px 20px;
	box-shadow: -1px 0px 0px -1px #000, 0px 1px 0px 1px #000;
}

.reviews .reviews_item .main_button:hover{
	background: #1c3047;
	color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: none;
}

.reviews .reviews_item .reviews_block p{
	font-size: 14px;
	padding-right: 20px;
	display: block;
}

.reviews .reviews_item .reviews_block .reviews_img{
	width: 68px;
	height: 78px;
	float: right;
	margin: 20px 20px 0 0;
}

.reviews .reviews_item .reviews_block .reviews_img img{
	max-width: 99%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.reviews .reviews_item .reviews_block span{
	margin-top: 16px;
	line-height: 17px;
	display: inline-block;
}

.info{
	background: url(../img/background4.jpg) no-repeat center;
	background-size: cover;
	font-size: 0;
}

.info .center{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}

.info .top_line{
	background: #a26f62;
	height: 88px;
	z-index: 0;
	position: relative;
}

.info .top_line .center:after{
	content: '';
	position: absolute;
	left: -10px;
	top: -91px;
	width: 180px;
	height: 180px;
	background: #a26f62;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border: 1px solid #fff;
}

.info .info_block_buttons{
	position: relative;
	right: 10px;
	height: 920px;
}

.info .info_block_buttons .info_buttons{
	width: 200px;
	max-height: 944px;
}

.info .info_block_buttons .info_buttons .info_button_item{
	width: 180px;
	height: 180px;
	background: #a26f62;
	display: inline-block;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border: 1px solid #fff;
	position: relative;
	overflow: hidden;
	z-index: 4;
}

.info .info_block_buttons .info_buttons .info_button_item:hover{
	background: #1c3047;
}

.info .info_block_buttons .info_buttons .info_button_item.active{
	background: #1c3047;
	-webkit-transition: .2s;
	transition: .2s;
}

.info .info_block_buttons .info_buttons .info_button_item ins{
	padding-top: 40px;
	width: 180px;
	height: 180px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	cursor: pointer;
	z-index: 4;
}

.info .info_block_buttons .info_buttons .info_button_item ins span{
	display: block;
	position: relative;
	font-size: 14px;
}

.info .info_block_buttons .info_buttons .info_button_item ins span img{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.info .info_block_buttons .info_buttons .info_button_item ins p{
	font-size: 14px;
	color: #fff;
	position: absolute;
	text-align: center;
	width: 130px;
	line-height: 16px;
	left: 0;
	top: 100px;
	right: 0;
	margin: auto;
}

.info .info_block_buttons .info_buttons .info_button_item:nth-child(odd){
	left: 127px;
	top: 54px;
	margin-top: -108px;
}

.info .info_block_buttons .info_buttons .info_button_item:nth-child(even){
	left: 0px;
	bottom: 0px;
}

.info .info_block_desc{
	width: 560px;
	display: inline-block;
	float: left;
	padding: 15px 115px 20px 60px;
	background: #fff;
	position: relative;
	max-height: 925px;
}

.info .info_block_desc:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: -430px;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	background: inherit;
}

.info .info_block_desc p{
	color: #000;
	padding: 12px 24px 0 0;
	line-height: 17px;
	font-size: 14px;
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
	max-height: 200px;
}

.info .info_block_desc h2{
	font-size: 24px;
	color: #000;
	line-height: 30px;
	letter-spacing: 0.7px;
}

.info .info_block_desc span{
	color: #1c3047;
	font-size: 14px;
	line-height: 17px;
	display: block;
	margin: 25px 0 15px 0;
}

.info .info_block_desc ins{
	color: #000;
	font-size: 14px;
	line-height: 17px;
	display: block;
	margin: 15px 0 15px 0;
	padding-right: 192px;
}

.info .info_block_desc .main_button{
	color: #1c3047;
	display: inline-block;
	box-shadow: -1px 0px 0px -1px #000, 0px 1px 0px 1px #000;
	-webkit-transition: .4s;
	transition: .4s;
}

.info .info_block_desc .main_button:hover{
	color: #fff;
	background: #1c3047;
	box-shadow: none;
}

.info .info_block_desc .info_desc_client{
	padding-top: 90px;
	min-height: 470px;
	max-height: 470px;
}

.info .info_block_desc .info_desc_client .info_client_item{
	display: none;
	z-index: -3;
}

.info .info_block_desc .info_desc_client .info_client_item.active{
	display: block;
	z-index: 5;
}

.info .info_block_desc .info_desc_investor{
	padding-top: 100px;
	max-height: 400px;
	min-height: 400px;
}

.news .top_line{
	background: #1c3047;
	padding: 15px 0;
}

.news .top_line .center{
	position: relative;
}

.news .top_line .center:after{
	content: '';
	position: absolute;
	left: -10px;
	top: -105px;
	width: 180px;
	height: 180px;
	background: #1c3047;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

.news .top_line .center h2{
	color: #fff;
	line-height: 30px;
	letter-spacing: 0.7px;
	text-align: center;
}

.news .top_line .center .news_see_oll_link{
	width: 140px;
	height: 130px;
	background: #a26f62;
	border: 1px solid transparent;
	display: inline-block;
	text-align: center;
	position: absolute;
	right: 20px;
	top: -15px;
	cursor: pointer;
	-webkit-transition: .4s;
	transition: .4s;
	z-index: 3;
}

.news .top_line .center .news_see_oll_link a{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
}

.news .top_line .center .news_see_oll_link:hover{
	border: 1px solid #1c3047;
	background: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

.news .top_line .center .news_see_oll_link:hover a{
	font-family: 'opensans-bold';
	color: #1c3047;
}

.news .center .news_item_block{
	padding-top: 70px;
}

.news .center .news_item_block .news_item_card{
	max-width: 320px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: top;
}

.news .center .news_item_block .news_item_card:first-child{
	margin-left: 0;
}

.news .center .news_item_block .news_item_card .news_card_img{
	max-width: 320px;
	min-width: 320px;
	height: 305px;
}

.news .center .news_item_block .news_item_card .news_card_img img:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .4s;
	transition: .4s;
}

.news .center .news_item_block .news_item_card .news_card_desc{
	border-right: 1px solid #655f56;
	border-bottom: 1px solid #655f56;
	border-left: 1px solid #cccac7;
	border-top: 1px solid #cccac7;
	margin-top: 10px;
	padding: 20px 20px 10px 20px;
	min-height: 150px;
	font-size: 14px;
	line-height: 17px;
}

.news .center .news_item_block .news_item_card .news_card_desc span{
	display: block;
	color: #a8a8a8;
	-webkit-transition: .4s;
	transition: .4s;
	padding: 15px 0px 10px 0;
}

.news .center .news_item_block .news_item_card .news_card_desc .news_card_button{
	text-align: right;
}

.news .center .news_item_block .news_item_card .news_card_desc .news_card_button a{
	color: #1c3047;
	-webkit-transition: .4s;
	transition: .4s;
}

.news .center .news_item_block .news_item_card .news_card_desc .news_card_button a:hover{
	font-family: 'opensans-bold';
}

.news_item_block .news_item_card .news_card_img{
	overflow: hidden;
}

.news_item_block .news_item_card .news_card_img img{
	max-width: 100%;
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

footer{
	background: #1c3047;
	margin-top: 75px;
	color: #fff;
}

footer .center{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

footer .center p{
	display: block;
	margin-bottom: 18px;
}

footer .center span{
	display: block;
}

footer .footer_logo{
	width: 320px;
	display: inline-block;
	vertical-align: top;
	margin-top: 55px;
	padding-left: 20px;
}

footer .footer_contacts{
	width: 320px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	padding: 55px 15px 70px 70px;
}

footer .footer_contacts p{
	letter-spacing: -0.9px;
}

footer .footer_adress{
	background: #a26f62;
	font-size: 14px;
	width: 320px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	padding: 55px 0 70px 55px;
	position: relative;
}

footer .footer_adress:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 70px;
	margin: auto;
	width: 100%;
	height: 100%;
	background: inherit;
}

footer .footer_adress p{
	line-height: 16px;
}

.white-popup {
    position: relative;
    background: #FFF;
    width: 400px;
    height: 500px;
    margin: 20px auto;
}

.mfp-fade.mfp-bg{
	opacity: 0;
	background: #000;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.mfp-fade.mfp-bg.mfp-ready{
	opacity: .9;
}

.mfp-fade.mfp-bg.mfp-removing{
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content{
	opacity: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content{
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content{
	opacity: 0;
}