@import url('fonts/lato-bold.css');
@import url('fonts/lato-black.css');
@import url('fonts/lato-light.css');
@import url('fonts/lato-heavy.css');
@import url('fonts/lato-regular.css');

.wrap{
	overflow: hidden;
}

.center{
	max-width: 1416px;
	padding: 0 10px;
	min-width: 320px;
	margin: 0 auto;
}

.center .align_center{
	text-align: center;
}

header{
	background: url('../img/backg_s1.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 1122px;
	position: relative;
}

header:after{
	content: '';
	position: absolute;
	width: 463px;
	height: 463px;
	border-right: 15px solid #fba419;
	border-bottom: 15px solid #fba419;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 0;
	right: 11px;
	top: -24%;
	margin: auto;
}

header nav{
	padding-top: 25px;
}

header nav a{
	font-family: 'lato-bold';
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: .4s;
	transition: .4s;
}

header nav a:hover{
	color: #fba419;
}

header nav a:nth-child(odd){
	float: left;
	padding-right: 31px;
}

header nav a:nth-child(even){
	float: right;
	padding-left: 31px;
}

header .logo{
	width: 172px;
	height: 66px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}

header .logo:before{
	content: '';
	width: 103px;
	height: 4px;
	position: absolute;
	bottom: -7px;
	left: 26px;
	right: 0;
	background: #989898;
}

header .logo img{
	max-width: 100%;
}

header .soc{
	width: 200px;
	height: 50px;
	margin: 0 auto;
	margin-top: 33px;
	position: relative;
	z-index: 1;
}

header .soc a{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 3px solid #fff;
	position: relative;
	display: inline-block;
	margin-right: 18px;
	cursor: pointer;
	-webkit-transition: .4s;
	transition: .4s;
}

header .soc a:hover{
	background: rgba(225, 255, 255, .2);
}

header .soc a:nth-child(3){
	margin-right: 0;
}

header .soc a img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

header h1{
	font-family: 'lato_black';
	font-size: 100px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 224px;
	line-height: 131px;
	padding: 0 1%;
	text-align: center;
}

header p{
	font-family: 'lato_light';
	font-size: 26px;
	color: #fff;
	text-align: center;
	margin-top: 45px;
	padding: 0 17%;
	margin-bottom: 82px;
}

.button{
	font-family: 'lato-bold';
	font-size: 22px;
	width: 182px;
	height: 51px;
	text-align: center;
	border-radius: 30px;
	border: 3px solid #fba419;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #fba419;
	-webkit-transition: .4s;
	transition: .4s;
	display: inline-block;
	line-height: 46px;
}

.button:hover{
	background: transparent;
}

.creative{
	height: 820px;
	background: url('../img/backg_s2.png') #fff no-repeat right;
	background-size: contain;
	padding-left: 200px;
	font-size: 0;
	position: relative;
	overflow: hidden;
}

.creative:after{
	content: '';
	position: absolute;
	width: 463px;
	height: 463px;
	border-right: 20px solid #fdd28e;
	border-bottom: 20px solid #fdd28e;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: 420px;
	top: -37%;
	margin: auto;
}

.creative .left .button{
	color: #000;
}

.creative .right{
	width: 72%;
	display: inline-block;
}

.left{
	display: inline-block;
	vertical-align: top;
	width: 28%;
	padding-top: 80px;
}

.left span{
	font-family: 'lato_heavy';
	color: #fba419;
	font-size: 60px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.left h2{
	font-family: 'lato_heavy';
	color: #000;
	font-size: 60px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 61px;
	line-height: 78px;
}

.left h2:after{
	content: '';
	width: 210px;
	height: 7px;
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	background: #fba419;
}

.left p{
	font-family: 'lato_regular';
	color: #000;
	font-size: 24px;
	line-height: 30px;
}

.left ins{
	font-family: 'lato_light';
	color: #000;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 40px;
}

.best{
	background: #2f2f2f;
	padding-left: 200px;
	height: 820px;
	font-size: 0;
}

.best .left span{
	color: #fba419;
}

.best .left h2{
	color: #fff;
}

.best .left p{
	color: #fff;
}

.best .left ins{
	color: #fff;
}

.best .best_right{
	width: 72%;
	height: 800px;
	overflow: hidden;
	padding-top: 30px;
	display: inline-block;
}

.best .best_right ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: left;
	padding-top: 50px;
	padding-left: 12%;
	padding-right: 7%;
}

.best .best_right ul li{
	display: inline-block;
	width: 30%;
	text-align: center;
}

.best .best_right ul li img{
	max-width: 100%;
}

.best .best_right ul li span{
	font-family: 'lato_heavy';
	font-size: 25px;
	color: #fba419;
	display: block;
	text-transform: uppercase;
	margin-top: 20px;
}

.best .best_right ul li p{
	font-family: 'lato_light';
	color: #a3a3a3;
	font-size: 22px;
	margin-top: 5px;
}

.work{
	padding-left: 200px;
	background: #fff;
	font-size: 0;
	height: 820px;
}

.work .work_left{
	width: 28%;
	padding-top: 135px;
	display: inline-block;
	vertical-align: top;
}

.work .work_left .button{
	color: #000;
}

.work .work_left span{
	font-family: 'lato_black';
	color: #fba419;
	font-size: 50px;
	display: block;
	text-transform: uppercase;
}

.work .work_left h3{
	font-family: 'lato_black';
	color: #000;
	font-size: 50px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 31px;
	line-height: 60px;
}

.work .work_left p{
	font-family: 'lato_regular';
	color: #a3a3a3;
	font-size: 17px;
	line-height: 30px;
	margin-bottom: 60px;
	padding-right: 50px;
}

.work .work_right{
	width: 72%;
	padding-top: 30px;
	height: 800px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	overflow: hidden;
}

.work .work_right .work_right_top{
	display: block;
	vertical-align: top;
}

.work .work_right .work_right_top img{
	display: inline-block;
	margin-right: 30px;
	max-width: 100%;
}

.work .work_right .work_right_top img:last-child{
	margin-right: 0;
}

.work .work_right .work_right_bottom{
	display: block;
	vertical-align: top;
	margin-top: 30px;
}

.work .work_right .work_right_bottom img{
	display: inline-block;
	margin-right: 30px;
	max-width: 100%;
}

.work .work_right .work_right_bottom img:last-child{
	margin-right: 0;
	position: relative;
	bottom: 190px;
}

.choose{
	background: #2f2f2f;
	font-size: 0;
	height: 820px;
	padding-right: 200px;
}

.choose .choose_left{
	width: 58%;
	padding-top: 90px;
	display: inline-block;
	vertical-align: top;
}

.choose .choose_left img{
	max-width: 100%;
}

.choose .choose_right{
	width: 40%;
	padding-left: 60px;
	padding-top: 100px;
	display: inline-block;
	vertical-align: top;
}

.choose .choose_right >span{
	font-family: 'lato_black';
	color: #fba419;
	font-size: 50px;
	display: block;
	text-transform: uppercase;
}

.choose .choose_right h3{
	font-family: 'lato_black';
	color: #fff;
	font-size: 50px;
	display: block;
	text-transform: uppercase;
	line-height: 60px;
	margin-bottom: 30px;
}

.choose .choose_right ul li{
	width: 100%;
	margin-bottom: 40px;
}

.choose .choose_right ul li .img{
	display: inline-block;
	vertical-align: top;
	width: 70px;
	height: 70px;
}

.choose .choose_right ul li .img img{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
}

.choose .choose_right ul li .right_text{
	vertical-align: top;
	display: inline-block;
	width: 380px;
	padding: 20px 0 0 20px;
}

.choose .choose_right ul li .right_text span{
	font-family: 'lato_regular';
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
}

.choose .choose_right ul li .right_text p{
	font-family: 'lato_light';
	color: #fff;
	font-size: 15px;
	line-height: 25px;
	margin-top: 20px;
}

.services{
	margin-top: -1px;
	background: url('../img/backg_s3.jpg') #fff no-repeat right;
	font-size: 0;
	height: 820px;
	padding-left: 200px;
}

.services .services_left{
	width: 28%;
	padding-right: 60px;
	padding-top: 130px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
}

.services .services_left span{
	font-family: 'lato_black';
	color: #fba419;
	font-size: 50px;
	display: block;
	text-transform: uppercase;
}

.services .services_left h3{
	font-family: 'lato_black';
	color: #000;
	font-size: 50px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 31px;
	line-height: 60px;
}

.services .services_left p{
	font-family: 'lato_regular';
	color: #000;
	font-size: 23px;
	line-height: 30px;
}

.services .services_left ins{
	font-family: 'lato_light';
	color: #000;
	font-size: 23px;
	line-height: 30px;
	margin-bottom: 60px;
}

.services .services_right{
	width: 58%;
	margin-top: 100px;
	background: #2f2f2f;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 100px;
	padding: 2% 0 2% 0;
}

.services .services_right ul{
	display: block;
	vertical-align: top;
	padding: 20px 10px;
}

.services .services_right ul li{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	text-align: center;
	margin-right: 10px;
}

.services .services_right ul li:nth-child(even){
	margin-right: 0;
}

.services .services_right ul li .img{
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin-bottom: 5px;
}

.services .services_right ul li .img img{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
}

.services .services_right ul li .right_text{
	vertical-align: top;
	display: inline-block;
	width: 80%;
	padding-top: 20px;
}

.services .services_right ul li .right_text span{
	font-family: 'lato_regular';
	color: #fba419;
	font-size: 17px;
	text-transform: uppercase;
}

.services .services_right ul li .right_text p{
	font-family: 'lato_light';
	color: #fff;
	font-size: 15px;
	line-height: 25px;
	margin-top: 20px;
}

.client{
	position: relative;
}

.client .client_block{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 0;
}

.client .client_block .client_left{
	display: inline-block;
	vertical-align: top;
	width: 33.33333%;
	background: #2f2f2f;
	padding: 80px 0 0 200px;
	position: relative;
	left: 1px;
	z-index: 1;
}

.client .client_block .client_left span{
	font-family: 'lato_black';
	color: #fba419;
	font-size: 50px;
	display: block;
	text-transform: uppercase;
}

.client .client_block .client_left h3{
	font-family: 'lato_black';
	color: #fff;
	font-size: 50px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 31px;
	line-height: 60px;
}

.client .client_block .client_left ul li{
	padding-right: 35px;
	margin-bottom: 40px;
}

.client .client_block .client_left ul li:before{
	content: '';
	width: 39px;
	height: 25px;
	background: url(../img/ico10.png);
	position: absolute;
	top: 0;
	bottom: 0;
	left: -50px;
}

.client .client_block .client_left ul li p{
	font-family: 'lato_light';
	color: #fff;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 20px;
}

.client .client_block .client_left ul li span{
	font-family: 'lato_regular';
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
}

.client .client_block .client_left ul li.client_left_hide{
	display: none;
}

.client .client_block .client_left ul li.active{
	display: none;
}

.client .client_block .client_right{
	display: inline-block;
	vertical-align: top;
	width: 66.66666%;
	background: #fff;
}

.client .client_block .client_right ul li{
	background: url('../img/img8.jpg') no-repeat left;
	display: inline-block;
	text-align: right;
	padding-top: 80px;
}

.client .client_block .client_right ul li .client_text{
	width: 48%;
	display: inline-block;
	text-align: center;
	padding: 0 16% 10% 6%;
	position: relative;
}

.client .client_block .client_right ul li .client_text .client_text_img{
	width: 81px;
	height: 61px;
	display: inline-block;
	margin-bottom: 50px;
}

.client .client_block .client_right ul li .client_text .client_text_img img{
	max-width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.client .client_block .client_right ul li .client_text p{
	font-family: 'lato_regular';
	color: #000;
	font-size: 23px;
	line-height: 30px;
}

.client .client_block .client_right ul li .client_text ins{
	font-family: 'lato_light';
	color: #000;
	font-size: 23px;
	line-height: 30px;
	margin-bottom: 60px;
}

.client .client_block .client_right ul li .client_text span{
	font-family: 'lato_heavy';
	color: #000;
	font-size: 17px;
	text-transform: uppercase;
}

.client .client_block .client_right ul li.client_right_hide{
	display: none;
}

.client .client_block .client_right ul li.active{
	display: inline-block;
}

.client .client_pags{
	position: absolute;
	bottom: 0;
	right: 17%;
}

.client .client_pags ul{
	padding: 13px 0 20px 0;
	text-align: center;
}

.client .client_pags ul li{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #e18e23;
	border: 2px solid #e18e23;
	display: inline-block;
	margin-right: 14px;
	-webkit-transition: .4s;
	transition: .4s;
	cursor: pointer;
}

.client .client_pags ul li:last-child{
	margin-right: 0;
}

.client .client_pags ul li.active{
	background: transparent;
}

.touch{
	padding: 80px 0;
	background: url('../img/backg_s4.jpg') #000 no-repeat center;
	background-size: cover;
	text-align: center;
}

.touch span{
	font-family: 'lato_black';
	color: #fba419;
	font-size: 50px;
	display: inline-block;
	text-transform: uppercase;
	margin-right: 5px;
}

.touch h3{
	font-family: 'lato_black';
	color: #fff;
	font-size: 50px;
	display: inline-block;
	text-transform: uppercase;
	line-height: 60px;
}

.touch .soc{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 0;
	text-align: center;
	margin-top: 80px;
	padding: 0 20%;
}

.touch .soc a{
	width: 84px;
	height: 84px;
	border-radius: 50%;
	border: 3px solid #fff;
	position: relative;
	cursor: pointer;
	-webkit-transition: .4s;
	transition: .4s;
}

.touch .soc a:hover{
	background: rgba(225, 255, 255, .2);
}

.touch .soc a img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.menu_toggle{
	position: absolute;
	top: 10px; right: 10px;
	margin: auto;
	height: 30px;
	width: 38px;
	cursor: pointer;
	display: none;
}

.menu_toggle.active{
	right: 10px;
}

.menu_toggle.active span{
	opacity: 0;
}

.menu_toggle.active:before{
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

.menu_toggle.active:after{
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left;
}

.menu_toggle:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: #fba419;
	-webkit-transition: .4s;
	transition: .4s;
}

.menu_toggle:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: #fba419;
	-webkit-transition: .4s;
	transition: .4s;
}

.menu_toggle span{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 4px;
	margin: auto;
	background: #fba419;
	-webkit-transition: .4s;
	transition: .4s;
}

footer{
	background: #2f2f2f;
	padding: 80px 0 40px 0;
	position: relative;
}

footer:after{
	content: '';
	position: absolute;
	width: 320px;
	height: 320px;
	border-right: 15px solid #fba419;
	border-top: 15px solid #fba419;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: 0;
	right: 11px;
	bottom: -34%;
	margin: auto;
	z-index: 10;
}

footer .footer_top ul{
	width: 100%;
	text-align: center;
}

footer .footer_top ul li{
	width: 20%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-right: 30px;
	padding-left: 20px;
}

footer .footer_top ul li:last-child{
	margin-right: 0;
}

footer .footer_top ul li .img{
	display: inline-block;
	vertical-align: top;
	width: 64px;
	height: 64px;
}

footer .footer_top ul li .img img{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
}

footer .footer_top ul li .footer_contact{
	vertical-align: top;
	display: inline-block;
	padding-top: 10px;
}

footer .footer_top ul li .footer_contact span{
	font-family: 'lato_regular';
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: inline-block;
}

footer .footer_top ul li .footer_contact a{
	font-family: 'lato_regular';
	color: #fff;
	font-size: 15px;
	line-height: 21px;
	text-decoration: none;
	display: block;
}

footer .footer_top ul li .footer_contact p{
	font-family: 'lato_regular';
	color: #fff;
	font-size: 15px;
	line-height: 21px;
	text-decoration: none;
	display: block;
}

footer .footer_bottom{
	margin-top: 170px;
	padding-top: 80px;
	text-align: center;
}

footer .footer_bottom span{
	font-family: 'lato_regular';
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: inline-block;
}

footer .footer_bottom p{
	font-family: 'lato_regular';
	color: #fff;
	font-size: 15px;
	line-height: 21px;
	text-decoration: none;
	display: block;
}

@media screen and (max-width: 1500px){
	
	.creative{
		padding-left: 80px;
	}

	.best{
		padding-left: 80px;
	}

	.work{
		padding-left: 80px;
	}

	.choose{
		padding-right: 80px;
	}

	.choose .choose_right ul li .right_text{
		padding-top: 0
	}

	.services{
		padding: 40px 40px 40px 80px;
		height: auto;
	}

	.services .services_left{
		padding-top: 0px;
	}

	.services .services_right{
		margin: 0;
	}

	.client .client_block .client_left{
		padding-left: 80px;
	}

	.client .client_block .client_right ul li{
		height: 650px;
	}

	.client .client_block .client_right ul li .client_text{
		padding: 0 3% 10% 7%;
	}

	.client .client_pags{
		right: 160px;
	}
}

@media screen and (max-width: 1366px){
	
	header{
	    height: 870px;
	}
	
	header:after{
		width: 388px;
		height: 388px;
	}
	
	header .logo{
		margin-top: 0;
		height: 60px;
	}
	
	header .soc{
		margin-top: 20px;
		width: 160px;
	}
	
	header .soc a{
		width: 40px;
		height: 40px;
		margin-right: 10px;
	}
	
	header nav a:nth-child(even){
		padding-left: 20px;
	}
	
	header nav a:nth-child(odd){
		padding-right: 20px;
	}
	
	header h1{
		font-size: 80px;
		line-height: 130px;
		margin-top: 200px;
		padding: 0 7%;
	}
	
	header p{
		margin: 20px 0 60px 0;
	}

	.best{
		padding: 80px 0 80px 80px;
		height: auto;
	}

	.best .left{
		padding-top: 0px;
	}

	.best .left span{
		font-size: 40px;
	}

	.best .left h2{
		font-size: 40px;
		line-height: 50px;
	}

	.best .best_right{
		height: auto;
		padding-top: 0;
	}

	.best .best_right ul{
		padding: 20px 0;
	}

	.work{
		padding: 40px 0 40px 40px;
    	height: auto;
    	text-align: right;
	}

	.work .work_left{
		padding-right: 20px;
		width: 30%;
	}

	.work .work_left p{
		padding-right: 0;
	}

	.work .work_right{
		width: 66%;
		padding-top: 0;
	}

	.work .work_right .work_right_top img{
		width: 47%;
	}

	.work .work_right .work_right_bottom img{
		width: 47%;
	}

	.work .work_right .work_right_bottom img:last-child{
		bottom: 0;
	}

	.choose{
		padding: 0 40px 0px 0;
		height: auto;
	}

	.choose .choose_left{
		padding-bottom: 80px;
		width: 50%;
	}

	.choose .choose_right{
		width: 50%;
		padding-top: 80px;
		padding-left: 20px;
	}

	.choose .choose_right >span{
		font-size: 40px;
	}

	.choose .choose_right h3{
		font-size: 40px;
		line-height: 50px;
		margin-top: 4px;
	}

	.choose .choose_right ul{
		width: 100%;
	}

	.choose .choose_right ul li{
		padding: 10px;
		margin-bottom: 0;
	}

	.choose .choose_right ul li .right_text{
		padding: 0;
		margin-left: 10px;
	}

	.services .services_left h3{
		font-size: 40px;
		line-height: 50px;
		margin-top: 4px;
	}

	.services .services_left span{
		font-size: 40px;
	}

	.client .client_block .client_left h3{
		font-size: 40px;
		line-height: 50px;
		margin-top: 4px;
	}

	.client .client_block .client_left span{
		font-size: 40px;
	}

	.touch{
		padding: 50px 0;
	}

	.touch h3{
		font-size: 40px;
		line-height: 50px;
	}

	.touch span{
		font-size: 40px;
	}
}

@media screen and (max-width: 1330px){
	
	.creative{
		padding-left: 40px;
		height: 750px;
	}
	
	.creative:after{
		width: 400px;
		height: 400px;
		right: 370px;
	}
	
	.creative .left{
		padding-top: 40px;
		width: 36%;
	}
	
	.creative .left span{
		font-size: 40px;
	}
	
	.creative .left h2{
		font-size: 40px;
		line-height: 50px;
	}
	
	.creative .left p{
		padding-right: 30px;
	}
	
	.creative .left ins{
		padding-right: 50px;
	}

	.best{
		padding: 40px 10px 40px 40px;
	}

	.best .best_right{
		padding-left: 10px;
	}

	.work .work_left{
		width: 34%;
	}

	.work .work_left h3{
		font-size: 40px;
		line-height: 50px;
		margin-top: 5px;
	}

	.work .work_left span{
		font-size: 40px;
	}

	.work .wirk_right{
		padding: 0 0;
	}

	.choose{
		padding: 40px 40px 40px 0;
	}

	.choose .choose_left{
		padding: 0 0;
	}

	.choose .choose_right{
		padding: 0 0 0 20px;
	}

	.services{
		height: auto;
		background: url(../img/backg_s3.jpg) #fff no-repeat center;
		background-size: cover;
		text-align: center;
		padding: 40px;
	}

	.services .services_left{
		display: block;
		padding: 40px;
		width: 100%;
		text-align: center;
		background: rgba(0, 0, 0, .7);
		margin: 0 auto;
	}

	.services .services_left h3{
		color: #fff;
	}

	.services .services_left p{
		color: #fff;
	}

	.services .services_left ins{
		display: block;
		color: #fff;
	}

	.services .services_right{
		padding: 40px;
		width: 100%;
		background: rgba(0, 0, 0, .7);
	}

	.client .client_block .client_left{
		padding-top: 40px;
	}

	.client .client_block .client_right ul li{
		background: url(../img/img8.jpg) no-repeat center;
		background-size: cover;
		text-align: center;
	}

	.client .client_block .client_right ul li .client_text{
		width: 70%;
		padding: 20px;
		margin-top: 70px;
		background: rgba(255, 255, 255, .4);
	}

	.client .client_pags{
		right: 30%;
	}

	footer{
		padding: 40px 0 40px 0;
	}

	footer:after{
		bottom: -39%;
	}

	footer .footer_top ul li{
		text-align: center;
	}

	footer .footer_top ul li .img{
		display: block;
		margin: auto;
	}

	footer .footer_top ul li .footer_contact{
		display: block;
	}

	footer .footer_bottom{
		margin-top: 100px;
	}
}

@media screen and (max-width: 1120px){
	
	.creative{
		height: 660px;
	}
	
	.creative .left{
		width: 43%;
	}
	
	.creative .left p{
		padding-right: 0;
		font-size: 18px;
	}
	
	.creative .left ins{
		padding-right: 140px;
		font-size: 18px;
	}
	
	.creative:after{
		width: 294px;
		height: 294px;
		top: -24%;
	}

	.best .left p{
		font-size: 18px;
	}

	.best .left ins{
		font-size: 18px;
	}

	.choose{
		padding: 40px;
		position: relative;
		text-align: center;
		background: url('../img/img1.jpg') no-repeat left;
		background-size: cover;
	}

	.choose .choose_left{
		display: none;
	}

	.choose .choose_right{
		width: 100%;
		padding: 20px;
		background: rgba(0, 0, 0, .7);
	}

	.choose .choose_right ul li{
		width: 50%;
		display: inline-block;
	}

	.choose .choose_right ul li .img{
		display: inline-block;
		text-align: center;
		margin-bottom: 20px;
	}

	.choose .choose_right ul li .right_text{
		display: block;
		margin: 0;
		width: auto;
	}

	.touch{
		padding: 50px 0;
	}

	.touch .soc{
		margin-top: 50px;
	}

	.touch .soc a{
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 1030px){
	
	header:after{
		width: 350px;
		height: 350px;
	}
	
	header .soc{
		margin: 0;
		bottom: 20px;
	}
}

@media screen and (max-width: 1020px){
	
	.creative{
		padding-left: 20px;
		height: auto;
	}
	
	.creative .left{
		width: 52%;
		padding: 50px 50px;
		margin-top: 40px;
		margin-bottom: 40px;
		background: rgba(0, 0, 0, .5);
		z-index: 3;
		text-align: center;
	}
	
	.creative .left h2{
		color: #fff;
	}
	
	.creative .left h2:after{
		margin: auto;
	}
	
	.creative .left p{
		color: #fff;
	}
	
	.creative .left ins{
		padding-right: 0;
		color: #fff;
	}

	.best{
		padding: 40px 40px;
	}

	.best .left{
		display: block;
		width: 100%;
		text-align: center;
		padding: 50px 50px;
		background: rgba(255, 255, 255, .5);
	}

	.best .left h2{
		color: #000;
	}

	.best .left h2:after{
		margin: auto;
	}

	.best .left p{
		color: #000;
	}

	.best .left ins{
		color: #000;
	}

	.best .best_right{
		padding-top: 20px;
		width: 100%;
	}

	.work{
		padding: 40px;
	}

	.work .work_left{
		width: 42%;
		text-align: center;
		padding-top: 50px;
	}

	.work .work_right{
		padding-top: 0;
		width: 58%;
		height: auto;
	}

	.services .services_left p{
		font-size: 18px;
	}

	.services .services_left ins{
		font-size: 18px;
	}

	footer .footer_top ul li{
		width: 25%;
	}
}

@media screen and (max-width: 940px){
	
	header{
		height: 830px;
	}
	
	header:after{
		width: 388px;
		height: 388px;
		top: -29%;
	}
	
	header .logo{
		padding: 20px 0;
		height: 80px;
	}
	
	header .soc{
		margin: 0 auto;
		margin-top: 40px;
	}
	
	header .soc a{}
	
	header .menu_toggle{
		display: block;
	}
	
	header nav{
		margin-left: 0;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		text-align: left;
		padding: 20px 20px 0 20px;
		background: rgba(0, 0, 0, .4);
		-webkit-transform: translate(-1000px);
		transform: translate(-1000px);
		-webkit-transition: .4s;
		transition: .4s;
		z-index: 2;
	}
	
	header nav.active{
		-webkit-transform: translate(0px);
		transform: translate(0px);
	}
	
	header nav a{
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}
	
	header nav a:nth-child(even){
		float: none;
		padding-left: 0;
	}
	
	header nav a:nth-child(odd){
		float: none;
		padding-right: 0;
	}
	
	header h1{
		font-size: 70px;
		line-height: 100px;
		margin-top: 170px;
	}

	.creative{
		padding: 0 40px;
	}

	.creative:after{
		display: none;
	}

	.creative .left{
		width: 100%;
		background: rgba(0, 0, 0, .7);
	}

	.creative .left .button{
		color: #fff;
	}

	.best .best_right{
		padding-left: 0;
	}

	.work .work_left{
		display: block;
		width: 100%;
		padding: 40px;
		background: rgba(0, 0, 0, .7);
	}

	.work .work_left .button{
		color: #000;
	}

	.work .work_left h3{
		color: #fff;
	}

	.work .work_left p{
		color: #fff;
	}

	.work .work_right{
		width: 100%;
		padding: 40px 40px 0 40px;
	}

	.work .work_right .work_right_top{
		text-align: center;
	}

	.work .work_right .work_right_top img{
		width: 35%;
	}

	.work .work_right .work_right_bottom{
		text-align: center;
	}

	.work .work_right .work_right_bottom img{
		width: 35%;
	}

	.client .client_block{
		position: relative;
	}

	.client .client_block .client_left{
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		padding-left: 0;
		text-align: center;
		width: 100%;
	}

	.client .client_block .client_left ul{
		display: none;
	}

	.client .client_block .client_right{
		width: 100%;
	}

	.client .client_block .client_right ul li{
		height: auto;
		padding: 80px 40px;
	}

	.client .client_pags{
		right: 45%;
		bottom: -8px;
	}

	.touch .soc{
		padding: 0 50px;
	}
}

@media screen and (max-width: 870px){
	
	header h1{
		font-size: 60px;
		line-height: 90px;
	}
	
	header p{
		margin: 15px 0 40px 0;
	}

	.creative{
		padding: 20px 20px 20px 20px;
		background-size: cover;
	}

	.creative .left{
		margin: 0;
	}

	.best{
		padding: 20px;
	}

	.work{
		padding: 20px;
	}

	.choose{
		padding: 20px;
	}

	.services{
		padding: 20px;
	}

	footer:after{
		bottom: -28%;
	}

	footer .footer_top ul li{
		text-align: center;
		width: 30%;
		padding-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}

	footer .footer_top ul li:last-child{
		display: block;
		margin: auto;
	}
}

@media screen and (max-width: 700px){

	header{
		height: 760px;
	}

	header h1{
		font-size: 50px;
		line-height: 80px;
		padding: 0 2%;
	}

	header p{
		font-size: 20px;
	}

	.work .work_left{
		padding: 20px
	}

	.work .work_right{
		padding: 0;
	}

	.work .work_right .work_right_top{
		text-align: center;
	}

	.work .work_right .work_right_top img{
		display: block;
		width: 100%;
		margin-top: 20px;
	}

	.work .work_right .work_right_bottom{
		text-align: center;
		margin-top: 0;
	}

	.work .work_right .work_right_bottom img{
		display: block;
		width: 100%;
		margin-top: 20px;
	}

	.choose .choose_left{
		display: none;
	}

	.choose .choose_right ul li{
		width: 100%;
		display: block;
	}

	.services .services_right ul{
		padding: 0;
	}

	.services .services_right ul li{
		width: 100%;
		display: block;
		margin-bottom: 40px;
	}

	.services .services_right ul li:last-child{
		margin-bottom: 0;
	}

	.services .services_right ul li .img{
		display: block;
		text-align: center;
		margin: auto;
	}

	.services .services_right ul li .right_text{
		width: 100%;
	}

	.client .client_block .client_right ul li{
		padding-left: 20px;
		padding-right: 20px;
	}

	.client .client_block .client_right ul li .client_text{
		width: 100%;
	}

	.client .client_pags{
		right: 43%;
	}
}

@media screen and (max-width: 650px){

	header{
		height: 700px;
	}

	header:after{
		display: none;
	}

	header h1{
		margin-top: 60px;
	}

	header p{
		padding: 0 10%;
	}

	.best{
		padding-bottom: 0;
	}

	.best .best_right{
		padding: 40px 0;
	}

	.best .best_right ul{
		display: block;
		padding: 0;
	}

	.best .best_right ul li{
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}

	.touch{
		padding: 20px 0;
	}

	.touch span{
		display: block;
	}

	.touch .soc{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		text-align: center;
		margin-top: 20px;
	}

	.touch .soc a{
		margin: auto;
		margin-bottom: 10px;
	}

	footer:after{
		display: none;
	}

	footer .center .footer_bottom{
		margin-top: 0;
		padding-top: 40px;
	}

	footer .center .footer_bottom p{
		color: #fc9e20;
	}

	footer .center .footer_bottom span{
		color: #fc9e20;
	}
}

@media screen and (max-width: 500px){

	header h1{
		font-size: 40px;
		line-height: 60px;
		margin-top: 50px;
	}

	.creative .left{
		padding: 20px;
	}

	.best .left{
		padding: 20px;
	}

	.client .client_pags{
		right: 40%;
	}

	footer .footer_top ul li{
		display: block;
		margin: auto;
		width: 100%;
		margin-bottom: 20px;
	}
}