@import url('fonts/arial-boldmt.css');
@import url('fonts/arialmt.css');
@import url('fonts/lato-bold.css');

.center{
	max-width: 1020px;
	padding: 0 10px;
	min-width: 320px;
	margin: 0 auto;
}

.wrap{
	overflow: hidden;
}

header{
	background: #e8ebf1;
	padding: 41px 0;
	border-bottom: 1px solid #d9d9d9;

	img{
		bottom: 4px;
	}

	nav{
		display: block;
		vertical-align: top;
		float: right;

		>ul{

			>li{
				display: inline-block;
				margin-right: 11px;
				padding: 8px 18px 10px 17px;
				border-top: 4px solid transparent;
				position: relative;

				&:hover{
					border-top: 4px solid #2aacc8;

					>ul{
						display: block;
					}
				}

				&:last-child{
					margin-right: 0;
				}

				&:nth-child(3):before{
					content: '';
					position: absolute;
					top: 10px; bottom: 0;
					right: 4px;
					width: 4px;
					height: 4px;
					border-left: 2px solid #000;
					border-bottom: 2px solid #000;
					transform: rotate(-45deg);
				}

				&:nth-child(4):before{
					content: '';
					position: absolute;
					top: 10px; bottom: 0;
					right: 4px;
					width: 4px;
					height: 4px;
					border-left: 2px solid #000;
					border-bottom: 2px solid #000;
					transform: rotate(-45deg);	
				}

				&.active{
					border-top: 4px solid #2aacc8;

					>a{
						color: #2aacc8;
					}

					&:nth-child(3){
					    background: #fff;	
					}

					&:nth-child(4){
					    background: #fff;	
					}
				}

				>a{
					font-family: 'arial-bold';
					font-size: 13px;
					color: #000;
					text-transform: uppercase;
					text-decoration: none;
				}

				ul{
					position: absolute;
					left: 0px;
					top: 34px;
					width: 199px;
					height: 205px;
					padding: 14px 4px;
					background: #fff;
					border-bottom: 4px solid #2aacc8;
					display: none;
					z-index: 4;

					&.active{
						display: block;
						z-index: 4;
					}

					li{
				        padding: 9px 12px;
				        text-decoration: none;
				        border-bottom: 1px solid #e7e7e7;

				        &:last-child{
				        	border-bottom-color: transparent;
				        }

				        &:hover{
                            
                            a{
								color: #2aacc8;
							}
				        }

				        &.active{

							a{
								color: #2aacc8;
							}
						}

				        a{
				        	font-family: 'arial-regular';
				            color: #000;
				            font-size: 13px;
				        	text-decoration: none;
				        }
					}
				}
			}
		}
	}
}

.slider{
	background: #81e4ed;
	padding: 20px 0 0 0;
	display: block;
	height: 500px;

	.main_slider{

		ul{
			display: block;
			overflow: hidden;

			li{
				max-width: 1000px;
				height: 440px;
				background: #e05936;
				box-shadow:inset 1px 1px 50px 4px rgba(0,0,0,.1);
				display: none;
				position: relative;

				&.active{
					display: block;

					h2{
						opacity: 1;
                        transform: translateX(0px);
                        transition: .1s;
					}

					.slide_img{
						opacity: 1;
                        transform: translateX(0px);
                        transition: .1s;
					}
				}

				h2{
					font-family: 'lato-bold';
					font-size: 50px;
					color: #fff;
					display: inline-block;
					padding: 97px 0px 50px 61px;
					line-height: 58px;
					width: 42%;
					transition: .4s;
					position: absolute;
					left: 0;
					transform: translateX(-50px);
                    transition: .4s;
				}

				.slide_img{
					width: 58%;
					position: absolute;
					right: 0;
					bottom: 0;
					transform: translateX(-50px);
                    transition: .4s;

					img{
						position: absolute;
						right: -197px;
						bottom: -4px;
	                    max-width: 134%;
					}
				}
			}
	    }
	}

	.pagers{

		>ul{
			padding: 13px 0 10px 0;
			text-align: center;

			>li{
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background: #71a3a7;
				display: inline-block;
				margin-right: 14px;

				&:last-child{
					margin-right: 0;
				}

				&.active{
					background: #fff;
				}
			}
		}
	}
}

.triggers{
	background: #e8ebf1;

	ul{
		display: flex;
		justify-content: space-between;
		padding: 56px 0 50px 0;

		li{
            display: inline-block;
            vertical-align: top;
            width: 22%;

            ins{
            	width: 41px;
            	height: 41px;
            	background: #2aacc8;
            	border-radius: 50%;
            	display: inline-block;
            	position: relative;
            	top: 4px;

            	img{
            		position: absolute;
            		top: 0;
            		right: 0;
            		left: 0;
            		bottom: 0;
            		margin: auto;
            	}
            }

            h4{
            	font-family: 'arial-bold';
            	font-size: 15px;
            	line-height: 20px;
            	text-transform: uppercase;
            	display: inline-block;
            	margin-left: 14px;
            	position: relative;
    			bottom: 14px;
            }

            p{
            	font-family: 'arial-regular';
            	font-size: 13px;
            	line-height: 20px;
            	padding-top: 14px;
            	height: 120px;
            	margin-bottom: 15px;
            }

            a{
            	font-family: 'arial-regular';
            	font-size: 13px;
            	color: #2aacc8;
            	text-decoration: none;
            	padding-left: 14px;
            	margin-top: 10px;
            	position: relative;

            	&:after{
            		content: '';
            		width: 5px;
            		height: 5px;
            		position: absolute;
            		left: 0;
            		top: 4px;
            		bottom: 0;
            		border-right: 2px solid #000;
            		border-bottom: 2px solid #000;
            		transform: rotate(-45deg);

            	}

            	a:hover{
            		text-decoration: underline;
            	}
            }
		}
	}
}

.works{
	padding-bottom: 6px;
	margin-top: 4px;

	.works_title{
    	border-bottom: 1px solid #dfe1e5;
    	display: flex;
    	justify-content: space-between;

		h3{
			font-family: 'arial-bold';
			font-size: 15px;
			color: #000;
            line-height: 52px;
            display: inline-block;
            position: relative;
            top: 2px;
    		left: 39px;

    		&:before{
    			content: '';
    			background: url(../img/ico5.png) no-repeat center;
    			width: 14px;
    			height: 24px;
    			position: absolute;
    			left: -38px;
    			bottom: 16px;
    		}
		}

		.tabs_arr{
			display: block;
			vertical-align: top;
			font-size: 0px;
			padding-top: 14px;

			span{
				line-height: 50px;
				font-size: 14px;
				cursor: pointer;
				display: inline-block;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #81e4ed;
				position: relative;
				margin-right: 10px;

				&:last-child{
					margin-right: 0;
				}

				&:hover{
					border: 2px solid #81e4ed;
					background: transparent;
				}

				&.prev:before{
					content: '';
					width: 5px;
					height: 5px;
					border-top: 2px solid #000;
					border-left: 2px solid #000;
					position: absolute;
					left: 4px; right: 0;
					top: 0; bottom: 0;
					margin: auto;
					transform: rotate(-45deg);
				}

				&.next:after{
					content: '';
					width: 5px;
					height: 5px;
					border-top: 2px solid #000;
					border-right: 2px solid #000;
					position: absolute;
					left: 0; right: 4px;
					top: 0; bottom: 0;
					margin: auto;
					transform: rotate(45deg);
				}
		    }
		}
    }

    .works_carts{
    	margin-top: 20px;
    	padding-bottom: 41px;
    	border-bottom: 1px solid #dfe1e5;

        .works_carts_active{
            opacity: 0;
            transition: .2s;

            &.active{
        		opacity: 1;
        		transition: .2s;
        		z-index: 1;
        	}
        }

        .works_carts_hide{

        	position: absolute;
        	left: 0;
        	right: 0;
        	top: 0;
        	opacity: 0;
        	transition: .2s;

        	&.active{
        		opacity: 1;
        		transition: .2s;
        		z-index: 1;
        	}
        }

    	ul{
            display: flex;
    		justify-content: space-between;

    		li{
                width: 220px;
                height: 160px;
                overflow: hidden;
                position: relative;
                cursor: pointer;

                a{

	    			span{
	    				position: absolute;
	    				right: 0;
	    				bottom: 0; left: 0;
	    				margin: auto;
	    				width: 100%;
						height: 50%;
						background: #2aacc8;
						display: block;
						opacity: 0;
	                    z-index: 1;
						transition: .2s;

						&:hover{
							opacity: 1;
						    transition: .2s;
						}

						&:before{
							content: '';
							width: 35px;
							height: 25px;
							position: absolute;
							top: 0;
							bottom: 0;
							right: 60px;
							left: 0; 
							margin: auto;
							background: url(../img/ico12.png);
						}

						&:after{
							content: '';
							width: 20px;
							height: 26px;
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0;
							left: 60px; 
							margin: auto;
							background: url(../img/ico13.png);
						}
	    			}

	    			img{
	                    max-width: 100%;
	    			}
	    		}
    		}
    	}
    }
}

.testimonials{
	display: flex;
	justify-content: space-between;

	.center{
		display: flex;
		justify-content: space-between;
	}

	.left{
		width: 49%;

		h3{
		    font-family: 'arial-bold';
			font-size: 15px;
			color: #000;
            line-height: 52px;
            display: inline-block;
            position: relative;
            top: 2px;
    		left: 39px;

    		&:before{
    			content: '';
    			background: url(../img/ico6.png) no-repeat center;
    			width: 24px;
    			height: 23px;
    			position: absolute;
    			left: -38px;
    			bottom: 16px;
    		}
    	}

    	p{
    		font-family: 'arial-regular';
    		font-size: 14px;
    		color: #000;
    		line-height: 24px;
    		padding-right: 44px;
    	}

    	span{
    		font-family: 'lato-bold';
    		font-size: 14px;
    		display: block;
            margin-top: 25px;
    	}
	}

	.right{
		width: 48%;

		h3{
		    font-family: 'arial-bold';
			font-size: 15px;
			color: #000;
            line-height: 52px;
            display: inline-block;
            position: relative;
            top: 2px;
    		left: 39px;

    		&:before{
    			content: '';
    			background: url(../img/ico7.png) no-repeat center;
    			width: 24px;
    			height: 23px;
    			position: absolute;
    			left: -38px;
    			bottom: 16px;
    		}
    	}

		ul{
			display: flex;
			flex-wrap: wrap;

			li{
				width: 33.33333%;
				border: 1px solid #e8ebf1;
				

				.img_shadow{
					box-shadow: inset 1px 1px 21px 0px rgba(232, 235, 241, 1);
				}

				img{
					max-width: 103%;
					z-index: -1;
				}
			}
		}
	}
}

.download{
	margin-top: 37px;

	.center{

		.download_block{
			background: #e8fcfe;
			border: 1px solid #81e4ed;
			padding: 30px 30px;
			
			.download_text{
				display: inline-block;
				vertical-align: top;
				width: 65%;

				p{
					font-family: 'arial-regular';
					font-size: 16px;
					line-height: 26px;
				}
			}

			.download_button{
				display: inline-block;
				text-align: right;
                padding: 7px 5px 7px 0;
				line-height: 50px;
				width: 34%;

				button{
					font-family: 'arial-bold';
					font-size: 18px;
					background: #7de1eb;
					background: linear-gradient(#87ebf4 85%, #4fc3d7);
					box-shadow:inset 1px 1px 10px 1px rgba(42,172,200,.3);
					border: 1px solid #2aacc8;
					color: #000;
					padding: 20px 19px 20px 68px;
					text-transform: uppercase;
					position: relative;
					border-radius: 10px;
					transition: .4s;

					&:hover{
						box-shadow:inset 1px 1px 800px 30px rgba(42,172,200,.9);
					}

					&:before{
		    			content: '';
		    			background: url(../img/ico8.png) no-repeat center;
		    			width: 28px;
		    			height: 26px;
		    			position: absolute;
		    			left: 17px;
    					bottom: 21px;
		    		}
				}
			}
		}
	}
}

.portfolio{
	padding-top: 27px;

	h3{
		font-family: 'arial-bold';
		font-size: 15px;
		color: #000;
        line-height: 52px;
        display: block;
        position: relative;
        text-transform: uppercase;
        top: 2px;
		left: 39px;

		&:before{
			content: '';
			background: url(../img/ico9.png) no-repeat center;
			width: 30px;
			height: 26px;
			position: absolute;
			left: -38px;
			bottom: 16px;
		}
	}

	.portfolio_tabs{
		display: block;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		line-height: 58px;

		span{
			font-family: 'arial-regular';
			font-size: 14px;
			padding: 6px 14px;
			border-bottom: 2px solid transparent;
			cursor: pointer;

			&:hover{
				border-bottom: 2px solid #81e4ed;
			}

			&.active{
				background: #81e4ed;
			}
		}
	}

	.portfolio_carts{
		border-bottom: 1px solid #d9d9d9;
		padding-bottom: 38px;
    	display: none;
    	transition: .4s;

    	&.active{
    		display: block;
    	}

		ul{
			display: flex;
			justify-content: space-between;
			margin-top: 41px;

			li{
				width: 22%;
				display: inline-block;
				text-align: center;

				a{
					span{
	    				position: absolute;
	    				right: 0;
	    				bottom: 0; left: 0;
	    				margin: auto;
	    				width: 100%;
						height: 50%;
						background: #2aacc8;
						display: block;
						opacity: 0;
	                    z-index: 1;
						transition: .2s;

						&:hover{
							opacity: 1;
						    transition: .2s;
						}

						&:before{
							content: '';
							width: 35px;
							height: 25px;
							position: absolute;
							top: 0;
							bottom: 0;
							right: 60px;
							left: 0; 
							margin: auto;
							background: url(../img/ico12.png);
						}

						&:after{
							content: '';
							width: 20px;
							height: 26px;
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0;
							left: 60px; 
							margin: auto;
							background: url(../img/ico13.png);
						}
	    			}

					img{
						max-width: 100%;
					}
				}
			}
		}
	}
}

.page{
	margin-top: 28px;

	.center{
		text-align: center;

		span{
			font-family: 'arial-regular';
			font-size: 14px;
			width: 27px;
			height: 27px;
			text-align: center;
			display: inline-block;
			vertical-align: top;
			line-height: 27px;
			border-bottom: 2px solid transparent;
			cursor: pointer;
			transition: .2s;

			&:hover{
				border-bottom: 2px solid #81e4ed;
			}

			&.active{
				background: #81e4ed;
			}
		}

		.morenext{
			background: #e8ebf1;
			margin-right: 10px;

			&:hover{
				border-bottom: 2px solid transparent;
				background: #fff;
			}

			&:after{
				content: '';
				position: absolute;
				top: 0;
				right: 8px;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 5px;
				height: 5px;
				border-top: 3px solid #2bacc8;
				border-right: 3px solid #2bacc8;
				transform: rotate(45deg);
			}

			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 2px;
				bottom: 0;
				left: 8px;
				margin: auto;
				width: 5px;
				height: 5px;
				border-top: 3px solid #2bacc8;
				border-right: 3px solid #2bacc8;
				transform: rotate(45deg);
			}
		}

		.next{
			background: #e8ebf1;

			&:hover{
				border-bottom: 2px solid transparent;
				background: #fff;
			}

			&:after{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 5px;
				height: 5px;
				border-top: 3px solid #2bacc8;
				border-right: 3px solid #2bacc8;
				transform: rotate(45deg);
			}
		}
	}
}

.contact{
	margin-top: 27px;

	h3{
		font-family: 'arial-bold';
		font-size: 15px;
		color: #000;
        line-height: 52px;
        display: block;
        position: relative;
        text-transform: uppercase;
        top: 2px;
		left: 39px;

		&:before{
			content: '';
			background: url(../img/ico10.png) no-repeat center;
			width: 30px;
			height: 26px;
			position: absolute;
			left: -38px;
			bottom: 16px;
		}
	}

	.contact_block{
		border-top: 1px solid #dfe1e5;
		display: flex;
		justify-content: space-between;
		padding-top: 38px;

		.left{
			width: 57%;
			font-family: 'arial-regular';
			font-size: 14px;

			p{
				line-height: 17px;
			}

			span{
				line-height: 17px;
				margin-top: 15px;
				display: inline-block;
			}

			a{
				color: #2aacc8;
				letter-spacing: 1px;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}

			form{
				padding-top: 24px;

				h4{
					margin: 11px 0 12px 0;
				}

				.flex{
					display: block;
					margin-bottom: 19px;

					input[type=text]{
						width: 100%;
						height: 40px;
						padding: 10px 10px 10px 10px;
						border: 1px solid #b4bac5;

						&:focus{
							border: 1px solid #2aacc8;
						}
					}	
				}

				textarea{
					font-family: 'ProximaNova-Regular';
					width: 100%;
					height: 156px;
					color: #6e747a;
					font-size: 14px;
					border: 1px solid #b4bac5;
					padding: 10px 10px 10px 10px;
					margin-bottom: 18px;

					&:focus{
						border: 1px solid #2aacc8;
					}
				}

				.align_left{

					button{
					    font-family: 'arial-bold';
						font-size: 18px;
						background: #7de1eb;
						background: linear-gradient(#87ebf4 85%, #4fc3d7);
						box-shadow:inset 1px 1px 10px 1px rgba(42,172,200,.3);
						border: 1px solid #2aacc8;
						color: #000;
						padding: 19px 33px 19px 55px;
						text-transform: uppercase;
						position: relative;
						border-radius: 10px;
						transition: .4s;

						&:hover{
							box-shadow:inset 1px 1px 800px 30px rgba(42,172,200,.9);
						}

						&:before{
			    			content: '';
			    			background: url(../img/ico11.png) no-repeat center;
			    			width: 24px;
			    			height: 24px;
			    			position: absolute;
			    			left: 17px;
	    					bottom: 19px;
	    					z-index: 50;
			    		}
					}
				}
			}
		}

		.right{
			width: 38%;
			padding: 0 2%;

			.map_block{
				display: block;
				background: #e8fcfe;
				text-align: center;
				padding-top: 30px;
				padding-bottom: 10px;
				border: 1px solid #81e4ed;

				p{
					font-family: 'arial-bold';
					font-size: 14px;
					margin-bottom: 38px;
					position: relative;
					right: 100px;
				}
			}

			.map_text{
				font-family: 'arial-regular';
				font-size: 14px;
				color: #363636;
				margin-top: 33px;

				h4{
					font-family: 'arial-bold';
					font-size: 15px;
					margin-bottom: 20px;
				}

				span{
					margin-bottom: 5px;
					display: inline-block;
				}

				p{
					margin-bottom: 5px;
				}

				a{
					text-decoration: none;
					display: block;
					margin-bottom: 5px;
					margin-top: 20px;
					color: #363636;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.menu_toggle{
	position: absolute;
	top: 2px; right: 10px;
	margin: auto;
	height: 30px;
	width: 38px;
	cursor: pointer;
	display: none;
	z-index: 4;

	&.active{
	    right: 7px;

	    &:before{
			transform: rotate(45deg);
			transform-origin: top left;
		}

		&:after{
			transform: rotate(-45deg);
			transform-origin: bottom left;
		}

	    span{
		    opacity: 0;
		}
	}

	&:before{
		content: '';
		position: absolute;
		top: 0; left: 0; right: 0;
		height: 4px;
		background: #2aacc8;
		transition: .4s;
	}

	&:after{
		content: '';
		position: absolute;
		bottom: 0; left: 0; right: 0;
		height: 4px;
		background: #2aacc8;
		transition: .4s;
	}

	span{
		position: absolute;
		top: 0; left: 0;
		bottom: 0; right: 0;
		height: 4px;
		margin: auto;
	    background: #2aacc8;
	    transition: .4s;
	}
}

footer{
	margin-top: 40px;
	background: #e8ebf1;
	border-top: 1px solid #d9d9d9;
	padding-top: 28px;
	padding-bottom: 30px;

	.footer_title{
		font-family: 'arial-bold';
		font-size: 15px;
		text-transform: uppercase;
		margin-bottom: 24px;
	}

	p{
		font-family: 'arial-regular';
		font-size: 14px;
		color: #363636;
	}

	ul{

		li{
			font-family: 'arial-regular';
			font-size: 14px;
			color: #363636;
			a{
				font-family: 'arial-regular';
				font-size: 14px;
				color: #363636;
			}
		}
	}

	.footer_top{
		display: flex;
		justify-content: space-between;

		.about{
			width: 24%;

			p{
				line-height: 19px;
			}
		}

		.links{
			width: 46%;
			display: flex;
		    justify-content: space-between;

		    ul{

		    	li{
		    		margin-bottom: 11px;
		    	}
		    }

			.links_explore{
				width: 30%;
			}

			.links_browse{
				width: 30%;
			}

			.links_contact{
				width: 30%;
				font-family: 'arial-regular';
				font-size: 14px;
				color: #363636;

				span{
					margin-bottom: 5px;
					display: inline-block;
				}

				p{
					margin-bottom: 5px;
				}

				a{
					text-decoration: none;
					display: inline-block;
					margin-bottom: 5px;
					margin-top: 20px;
					color: #363636;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		.soc{
			width: 28%;

			.footer_title{
				text-align: center;
			}

			ul{
				text-align: right;

				li{
					display: inline-block;
					width: 30%;
				}
			}
		}
	}

	.footer_bottom{
		margin-top: 20px;

		.bottom_line_text{
			display: inline-block;
			vertical-align: top;
			width: 80%;

			p{
				margin-bottom: 10px;
			}
		}

		.bottom_line_logo{
			display: inline-block;
			vertical-align: top;
			text-align: right;
		}
	}
}

@media screen and (max-width: 1115px){
	
	.triggers{
		
		ul{
			padding: 30px 0 30px 0;
			display: block;
			text-align: center;

			li{
				width: 40%;
				margin-bottom: 30px;

				p{
					padding: 25px 65px;
				}
			}
		}
	}
}

@media screen and (max-width: 900px){
	
	.triggers{
		
		ul{

			li{
				

				p{
					padding: 30px 8px;
				}
			}
		}
	}

	.works{

		.works_carts{

			ul{
				display: block;
				text-align: center;

				li{
					width: 45%;
					display: inline-block;
					margin-bottom: 20px;

					span{
						background: transparent;

						&:hover{
							opacity: 0;
							display: none;
							transition: .1s;
						}
					}
				}
			}
		}
	}

	.contact{
		margin-top: 0;

		.contact_block{
			display: block;
			padding: 2% 10% 2% 10%;

			.left{
				width: 100%;

				form{

					textarea{
						margin-bottom: 30px;
					}

					.align_left{
						text-align: center;
					}
				}
			}

			.right{
				width: 100%;
				margin-top: 30px;
				padding: 0;
				text-align: center;

				.map_block{
					display: inline-block;
					padding: 20px 40px 40px 40px;

					p{
						margin-bottom: 20px;
					}
				}

				.map_text{
					display: inline-block;
					margin-top: 0;
					left: 38px;
    				bottom: 38px;
				}
			}
		}
	}
}

@media screen and (max-width: 830px){
	
	header{
		padding: 20px 0;
		text-align: center;

		img{
			margin-bottom: 10px;
		}

		nav{
			float: none;
		}
	}

	.slider{

		.main_slider{

			ul{

				li{
					
					h2{
						width: 80%;
						font-size: 35px;
						line-height: 50px;
						padding: 49px 0px 50px 12px;
					}

					.slide_img{
						width: 63%;
					}
				}
			}
		}
	}

	.testimonials{

		.center{

			display: block; 
			text-align: center;

			.left{
				width: 100%;

				h3{
					left: 0;
				}

				p{
					padding-right: 0;
				}
			}

			.right{
				width: 100%;
				margin-top: 20px;
				border-top: 1px solid #dfe1e5;

				h3{
					left: 0;
				}
			}
		}
	}

	.download{

		.center{

			.download_block{

				.download_button{

					button{
						font-size: 16px;
						padding: 15px 15px 15px 55px;
						top: 20px;

						&:before{
							bottom: 13px;
						}
					}
				}
			}
		}
	}

	.contact{
		margin-top: 0;
	}

	.portfolio{
		padding-top: 0;

		h3{
			text-align: center;
			left: 0;

			&:before{
				left: 0;
				right: 123px;
				margin: auto;
			}
		}

		.portfolio_tabs{
			text-align: center;
		}

		.portfolio_carts{

			ul{
				flex-wrap: wrap;
				
				li{
					width: 50%;

					&:nth-child(1){
						margin-bottom: 40px;
					}

					&:nth-child(2){
						margin-bottom: 40px;
					}

					span{
						background: transparent;

						&:hover{
							opacity: 0;
							display: none;
							transition: .1s;
						}
					}
				}
			}
		}
	}

	footer{

		.footer_top{
			display: block;
			text-align: center;

			.footer_title{
				
			}

			.about{
				width: 100%;
				margin-bottom: 20px;
			}

			.links{
				width: 100%;
				margin-bottom: 20px;
			}

			.soc{
				width: 100%;

				ul{
					text-align: center;

					li{
						width: 15%;
						text-align: center;
					}
				}
			}
		}

		.footer_bottom{
			margin-top: 30px;
		}
	}
}

@media screen and (max-width: 786px){
    
    footer{

    	.footer_bottom{
    		text-align: center;

    		.bottom_line_text{
    			width: 100%;
    			margin-bottom: 20px;
    		}

    		.bottom_line_logo{
    			display: block;
    			text-align: center;
    		}
    	}
    }

    .triggers{

    	ul{

    		li{
    			width: 100%;

    			p{
    				height: 90px;
    			}
    		}
    	}
    }

    .download{

    	.center{

    		.download_block{
    			text-align: center;

    			.download_text{
    				width: 100%;
    			}

    			.download_button{
    				width: 100%;
    				display: block;
    				text-align: center;

    				button{
    					top: 10px;
    				}
    			}
    		}
    	}
    }
}

@media screen and (max-width: 680px){
	
	header{
		padding: 15px 0 5px 0;

		.menu_toggle{
			display: block;
			z-index: 3;
			top: 4px;
		}

		img{
			bottom: 0;
		}

		nav{
			display: none;

			>ul{

				>li{
					display: block;
					margin-right: 0;

					&:hover{

    			    	>ul{
    			    		display: none;
    			    	}
    			    }

    			    ul{
    			    	position: relative;
	    			    top: 14px;
	    			    width: 100%;
	    			    height: auto;
	    			    padding: 5px 4px 5px 4px;

	    			    >li{
	    			    	width: auto;
	    			    }
    			    }
				}
			}
		}
	}

	.slider{
		height: 430px;

		.main_slider{
			height: 370px;

			ul{
				height: 370px;

				li{
					height: 370px;

					.slide_img{
						width: 74%;

						img{
							right: 0;
							max-width: 100%;
						}
					}
				}
			}
		}
	}

	.contact{

		.contact_block{
			padding: 2% 8% 0% 8%;

			.right{

				.map_text{
					display: block;
					left: 0;
					right: 0;
					margin-top: 60px;
				}
			}

			.left{

				form{

					.align_left{

						button{
							padding: 12px 33px 12px 55px;

							&:before{
								bottom: 12px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 590px){

	.portfolio{

		.portfolio_tabs{
			line-height: 40px;

			span{
				padding: 4px 4px;
			}
		}
	}
}

@media screen and (max-width: 500px){

	.portfolio{

		.portfolio_carts{

			ul{
				display: block;

				li{
					width: 100%;
					margin-bottom: 40px;

					&:last-child{
						margin-bottom: 0px;
					}
				}
			}
		}
	}

	.works{

		.works_carts{
			padding-bottom: 0;

			ul{

				li{
					width: 100%;
				}
			}
		}
	}

	.triggers{

		ul{

			li{

				p{
					height: 110px;
				}
			}
		}
	}

	.contact{

		.contact_block{
			padding: 0;

			.right{

				.map_block{
					padding: 20px 5px 20px 5px;
				}
			}
		}
	}

	footer{

		.footer_top{

			.links{
				display: block;
				text-align: center;

				.links_explore{
					width: 100%;

					ul{

						li{
							display: inline-block;
							padding: 0 4px;
						}
					}
				}

				.links_browse{
					width: 100%;

					ul{

						li{
							display: inline-block;
							padding: 0 4px;
						}
					}
				}

				.links_contact{
					width: 100%;
				}
			}
		}
	}
}