@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3r1o4h');
  src:  url('fonts/icomoon.eot?3r1o4h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3r1o4h') format('truetype'),
    url('fonts/icomoon.woff?3r1o4h') format('woff'),
    url('fonts/icomoon.svg?3r1o4h#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e906";
}
.icon-link:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-gmail:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-skype:before {
  content: "\e903";
}
.icon-telegram:before {
  content: "\e904";
}
.icon-viber:before {
  content: "\e905";
}
body{
	font-family: 'Ubuntu Condensed', sans-serif;
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
}
img{
  max-width: 100%;
}
.header{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .9)), to(rgba(0, 0, 0, .8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .8) 100%);
  margin-top: 16px;
}
.header_line{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo{
  font-family: 'Lobster', cursive;
  font-size: 26px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px dotted #fff;
}
.logo span{
  font-family: 'Ubuntu Condensed', sans-serif;
  display: block;
  font-size: 31px;
}
.nav_link{
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  padding: 7px 10px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.nav_link:hover{
  color: #ffdb31;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.nav_link:hover:before{
  width: 100%;
  left: 0;
}
.nav_link:hover:after{
  width: 100%;
  left: 0;
}
.nav_link:before{
  content: "";
  width: 0;
  height: 1px;
  background: #ffdb31;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.nav_link:after{
  content: "";
  width: 0;
  height: 1px;
  background: #ffdb31;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: auto;
  bottom: 0;
}
.soc{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}
.soc_link{
  color: #fff;
  width: 30px;
  height: 30px;
  background: #000;
  margin: 3px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  -webkit-transition: .4s;
  transition: .4s;
}
.soc_link:hover{
  color: #ffdb31;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  font-size: 14px;
}
.btn{
  display: inline-block;
  text-align: center;
  background-color: #ffdb31;
  cursor: pointer;
  color: #000;
  line-height: 34px;
  padding: 0px 23px 0px 23px;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  outline: none;
  border: none;
}
.btn:hover{
  background-color: #feec56;
}
.center{
  max-width: 1200px;
  min-width: 320px;
  padding: 30px;
  margin: 0 auto;
}
.content{
  max-width: 1140px;
  min-width: 320px;
  padding: 30px;
  margin: 0 auto;
  background: #fff;
  margin-top: 50px;
  color: #fff;
  padding: 30px;
  box-shadow: 3px 3px 15px rgba(50, 50, 50, .50);
}
.content h1 {
  color: #333;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Roboto Condensed', Arial, Verdana, sans-serif;
  line-height: 45px;
  letter-spacing: -1px;
}
.content_img{
  margin-bottom: 50px;
  width: 100%;
  height: auto;
}
.content_text{
  margin-left: auto;
  margin-right: auto;
  max-width: 770px;
  word-wrap: break-word;
}
.content p{
  margin-bottom: 25px;
  text-align: justify;
  color: #444;
}
.content_title{
  color: #000;
  clear: both;
  font-weight: 400;
  font-family: 'Roboto Condensed', Arial, Verdana, sans-serif;
}
.title-small{
  font-size: 20px;
  line-height: 22px;
  margin-top: 20px;
}
.column{
  overflow: hidden;
}
.column_left{
  float: right;
  width: 47%;
}
.column_right{
  float: left;
  width: 47%;
}
.column_img{
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}
.contacts_block{
  background-image: -webkit-linear-gradient(215deg, #f1fbff 0%, #afd5e9 100%);
  background-image: -moz-linear-gradient(215deg, #f1fbff 0%, #afd5e9 100%);
  background-image: -o-linear-gradient(215deg, #f1fbff 0%, #afd5e9 100%);
  background-image: linear-gradient(-125deg, #f1fbff 0%, #afd5e9 100%);
  padding: 25px 0;
}
.contacts_block ul, .contacts_block ol{
  margin: 0px 10px 25px 25px;
}
.contacts_soc{
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0 10px 0;
}
.contacts_link{
  font-size: 40px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.contacts_link:hover{
  font-size: 43px;
  color: #ffdb31;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.form{
  width: 50%;
  padding: 30px;
}
.form_group{
  margin: 0 0 15px 0;
  position: relative;
  width: 100%;
}
.form label{
  display: block;
  color: #fff;
  margin-bottom: 10px;
}
.form input{
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 20px;
  box-shadow: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form textarea{
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 20px;
  box-shadow: none;
  padding: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.form button{
  border: none;
  border-radius: 20px;
  box-shadow: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.form_bg{
  background: url(../img/img-2.jpg);
  background-size: cover;
  margin-top: 30px;
}
.form_bg:before{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .9)), to(rgba(0, 0, 0, .8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .8) 100%);
  opacity: 0.85;
}
.box_container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 50px 0;
}
.box{
  border:10px solid whitesmoke;
  box-shadow: 0 0 5px grey;
  overflow: hidden;
  position: relative;
}
.box_img img{
  width:100%;
  height: auto;
  -webkit-transform:scale(1,1);
  transform:scale(1,1);
  -webkit-transition: -webkit-transform 0.50s linear;
  transition: -webkit-transform 0.50s linear;
  transition: transform 0.50s linear;
  transition:transform 0.50s linear, -webkit-transform 0.50s linear;
}
.box:hover .box_img img{
  -webkit-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1);
}
.box:hover .box_content{
  opacity:1;
  border:8px solid  #bebbbb;
}
.box:hover .box_title{
  top:45%;
}
.box:hover .box_title:after{
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  -webkit-transition-delay:0.3s;
  transition-delay:0.3s;
}
.box:hover .box_links{
  bottom:-70%;
}
.box_content{
  background:rgba(255, 255, 255, .8);
  border:1px solid #bebbbb;
  width: 100%;
  height: 100%;
  padding:35px 25px;
  position: absolute;
  top: 0;
  text-align:center;
  opacity:0;
  -webkit-transition: opacity 0.30s linear,border 0.20s ease-in-out;
  transition:opacity 0.30s linear,border 0.20s ease-in-out;
}
.box_title{
  font-size: 18px;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  top: -2px;
  -webkit-transition: top 0.50s ease 0s,opacity 0.10s ease-in-out 0s;
  transition: top 0.50s ease 0s,opacity 0.10s ease-in-out 0s;
}
.box_title:after{
  content: "";
  border-bottom: 2px solid #747474;
  position: absolute;
  top: 25px;
  left: 34%;
  border-radius:2px;
  width:30%;
  -webkit-transform:rotateX(-180deg);
  transform:rotateX(-180deg);
  -webkit-transition: width 1s ease-out 0s, opacity 1s ease-out 0s, -webkit-transform  1s ease-in-out 0s;
  transition: width 1s ease-out 0s, opacity 1s ease-out 0s, -webkit-transform  1s ease-in-out 0s;
  transition: width 1s ease-out 0s, transform  1s ease-in-out 0s,opacity 1s ease-out 0s;
  transition:width 1s ease-out 0s, transform  1s ease-in-out 0s,opacity 1s ease-out 0s, -webkit-transform  1s ease-in-out 0s;
}
.box_links{
  position: relative;
  bottom: -110%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: bottom 0.30s ease,opacity 0.30s ease;
  transition: bottom 0.30s ease,opacity 0.30s ease;
}
.box_links li{
  display:inline-block;
  list-style: none;
  margin: 0 10px;
}
.box_links li a{
  font-size: 17px;
  color: #333;
  text-decoration: none;
}
.box_links li a:hover{
  color:#e74c3c;
}
@media only screen and (max-width: 990px) {
    .box{
        margin-bottom:20px;
    }
}
.footer{
  line-height: 50px;
  color: #fff;
}
.footer_line{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer p{
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}