@import url(../fonts/roboto-regular.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?a09fx7");
  src: url("../fonts/icomoon.eot?a09fx7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?a09fx7") format("truetype"), url("../fonts/icomoon.woff?a09fx7") format("woff"), url("../fonts/icomoon.svg?a09fx7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-call:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e901"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-vk:before {
  content: "\e903"; }

body {
  color: #000;
  font-family: roboto-regular; }

a {
  text-decoration: none;
  color: #000; }

p {
  font-size: 14px;
  line-height: 16px; }

img {
  max-width: 100%; }

.wrap {
  overflow: hidden; }

.center {
  max-width: 990px;
  min-width: 300px;
  padding: 0 30px;
  margin: 0 auto; }
  @media screen and (max-width: 990px) {
    .center {
      padding: 0 10px; } }

.header {
  background: #1660bf;
  height: 153px;
  padding: 30px 0;
  overflow: hidden; }
  @media screen and (max-width: 990px) {
    .header {
      position: relative;
      height: 130px;
      padding: 20px 0; } }
  @media screen and (max-width: 640px) {
    .header {
      height: 155px; } }
  @media screen and (max-width: 460px) {
    .header {
      height: 155px; } }
  .header_logo {
    width: 30%;
    float: left; }
    @media screen and (max-width: 990px) {
      .header_logo {
        top: 0;
        width: 20%; } }
    @media screen and (max-width: 460px) {
      .header_logo {
        width: 80px;
        display: inline-block;
        vertical-align: top; } }
  .header_title {
    text-align: center;
    font-size: 17px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fff;
    float: left;
    width: 45%; }
    @media screen and (max-width: 990px) {
      .header_title {
        width: 100%;
        position: absolute;
        bottom: 10px;
        float: none;
        left: 0;
        right: 0;
        margin: auto; } }
    @media screen and (max-width: 640px) {
      .header_title {
        font-size: 14px;
        line-height: 20px; } }
    .header_title i {
      display: inline-block;
      padding: 0 5px;
      line-height: 21px;
      background: #fff;
      color: #000;
      font-weight: bold; }
  .header_callback {
    overflow: hidden;
    width: 23%;
    float: right; }
    @media screen and (max-width: 990px) {
      .header_callback {
        width: 80%;
        text-align: right; } }
    @media screen and (max-width: 460px) {
      .header_callback {
        width: 200px; } }
  .header_btn {
    color: #000; }

.logo {
  position: relative;
  top: 20px; }

.btn {
  font-family: roboto-regular;
  display: inline-block;
  padding: 12px 15px 10px 15px;
  background: #fcd019;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #fcd019;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  outline: none;
  cursor: pointer;
  font-weight: bold; }
  @media screen and (max-width: 640px) {
    .btn {
      padding: 12px 7px 10px 7px; } }
  .btn:hover {
    background: #faeb19;
    border-bottom-color: #faeb19; }
  .btn_white {
    border-bottom: 2px solid #fff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .btn_brown {
    border-bottom: 2px solid #d9b51c;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .btn .icon-call {
    margin-right: 12px; }

.callback_contact {
  text-align: right;
  font-size: 18px; }
  @media screen and (max-width: 990px) {
    .callback_contact {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; } }
  @media screen and (max-width: 640px) {
    .callback_contact {
      font-size: 16px; } }
  @media screen and (max-width: 460px) {
    .callback_contact {
      margin-right: 0;
      font-size: 12px; } }

.callback_btn {
  font-size: 14px;
  clear: both;
  text-align: right;
  padding-top: 10px; }
  @media screen and (max-width: 990px) {
    .callback_btn {
      display: inline-block;
      vertical-align: middle;
      padding-top: 3px; } }
  @media screen and (max-width: 640px) {
    .callback_btn {
      display: block; } }

.callback_time {
  float: left;
  font-size: 12px;
  color: #fff; }
  .callback_time span {
    display: block;
    padding-top: 18px; }
  @media screen and (max-width: 990px) {
    .callback_time {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
      .callback_time span {
        padding-top: 17px; } }
  @media screen and (max-width: 460px) {
    .callback_time {
      margin-right: 7px;
      font-size: 12px; }
      .callback_time span {
        padding-top: 4px; } }

.contact_mail {
  display: block;
  line-height: 22px;
  color: #fff; }
  @media screen and (max-width: 460px) {
    .contact_mail {
      line-height: 14px; } }
  .contact_mail:hover {
    text-decoration: underline;
    color: #fcd019; }

.contact_phone {
  line-height: 22px;
  color: #fff; }
  @media screen and (max-width: 460px) {
    .contact_phone {
      line-height: 14px; } }
  .contact_phone span {
    font-size: 12px; }

.slide {
  height: 430px;
  padding-top: 55px; }
  @media screen and (max-width: 990px) {
    .slide {
      height: auto;
      padding-top: 30px; } }
  .slide_form {
    width: 665px;
    margin: auto;
    text-align: center;
    margin-top: -60px;
    padding: 80px 90px 10px 90px; }
    @media screen and (max-width: 990px) {
      .slide_form {
        width: 75%;
        padding: 80px 0px 10px 0px; } }
  .slide_label {
    padding: 30px;
    width: 530px;
    margin: auto; }
    @media screen and (max-width: 990px) {
      .slide_label {
        width: 50%; } }
    @media screen and (max-width: 460px) {
      .slide_label {
        width: 80%;
        padding: 20px; } }

.form {
  background: rgba(0, 0, 0, 0.5); }
  .form input {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-style: italic;
    color: #878786;
    background-color: #fff;
    border: none;
    width: 220px;
    margin: 15px 10px; }
    .form input:focus {
      border: none; }
  .form button {
    min-height: 40px; }
  .form_text {
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px; }

.label {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .label_offer {
    font-size: 29px;
    line-height: 36px; }
    @media screen and (max-width: 640px) {
      .label_offer {
        font-size: 20px;
        line-height: 30px; } }
  .label span {
    display: block;
    font-size: 18px;
    line-height: 22px; }
    @media screen and (max-width: 640px) {
      .label span {
        font-size: 16px; } }
  .label ins {
    text-decoration: none;
    color: #fcd019; }
  .label_text {
    font-size: 16px;
    line-height: 24px;
    text-transform: none; }

.section {
  padding: 40px 0; }
  @media screen and (max-width: 990px) {
    .section {
      padding: 30px 0; } }
  @media screen and (max-width: 990px) {
    .section {
      padding: 20px 0; } }

.title {
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 60px; }
  @media screen and (max-width: 990px) {
    .title {
      padding: 0;
      font-size: 24px;
      line-height: 30px; } }
  @media screen and (max-width: 460px) {
    .title {
      font-size: 19px;
      line-height: 24px; } }
  .title_line {
    background: #fcd019;
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    @media screen and (max-width: 990px) {
      .title_line {
        padding: 30px 0; } }
    @media screen and (max-width: 990px) {
      .title_line {
        padding: 20px 0; } }
    .title_line:before {
      content: '';
      position: absolute;
      bottom: -59px;
      left: 0;
      right: 0;
      width: 0px;
      margin: auto;
      border: 40px solid transparent;
      border-top: 20px solid #fcd019; }
    .title_line .title {
      color: #545454; }
  .title b {
    font-weight: bold; }
  .title i {
    font-size: 24px; }
    @media screen and (max-width: 990px) {
      .title i {
        padding: 0;
        font-size: 20px; } }
    @media screen and (max-width: 460px) {
      .title i {
        font-size: 16px; } }

.sub_title {
  font-size: 14px;
  line-height: 16px;
  color: #1660bf; }

.fact {
  padding: 20px 0;
  overflow: hidden; }
  .fact_item {
    float: left;
    width: 24%;
    text-align: center; }
    @media screen and (max-width: 990px) {
      .fact_item {
        width: 50%; } }
    @media screen and (max-width: 450px) {
      .fact_item {
        width: 100%;
        margin: 10px 0; } }
    .fact_item span {
      font-size: 48px;
      line-height: 50px;
      color: #1660bf;
      font-weight: bold;
      min-height: 60px;
      position: relative; }
      @media screen and (max-width: 990px) {
        .fact_item span {
          font-size: 38px; } }
      .fact_item span sup {
        position: absolute;
        font-size: 30px;
        top: -6px; }

.product {
  padding: 20px 0;
  overflow: hidden;
  text-align: center; }
  .product_item {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    text-align: center;
    margin: 25px 0;
    position: relative; }
    @media screen and (max-width: 990px) {
      .product_item {
        width: 32%; } }
    @media screen and (max-width: 690px) {
      .product_item {
        width: 215px; } }
    @media screen and (max-width: 460px) {
      .product_item {
        width: 140px; } }
  .product_img {
    border: 1px solid #39abb9;
    width: 115px;
    height: 120px;
    margin: auto;
    -webkit-box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-bottom: 10px; }
    @media screen and (max-width: 460px) {
      .product_img {
        width: 85px;
        height: 90px; } }
    .product_img img {
      margin: -1px; }
  .product_name {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 25px; }
    @media screen and (max-width: 460px) {
      .product_name {
        font-size: 14px; } }
    .product_name span {
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      font-weight: normal;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0; }
      @media screen and (max-width: 460px) {
        .product_name span {
          font-size: 14px; } }
  .product_char {
    font-size: 14px;
    line-height: 30px; }
    @media screen and (max-width: 460px) {
      .product_char {
        font-size: 12px; } }
  .product_price {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    min-height: 30px; }
    @media screen and (max-width: 460px) {
      .product_price {
        font-size: 14px; } }
    .product_price sup {
      vertical-align: super;
      font-size: 12px; }
  .product_btn {
    margin-top: 15px; }

.circle {
  background: url("../img/background-1.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }
  .circle_block {
    width: 310px;
    height: 310px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url("../img/ico-10.png") #1660bf no-repeat center;
    background-position-y: 30px;
    -webkit-background-size: 70px 70px;
            background-size: 70px;
    margin: auto;
    padding: 125px 20px;
    text-align: center; }
    @media screen and (max-width: 690px) {
      .circle_block {
        width: 200px;
        height: 200px;
        padding: 70px 20px;
        background-position-y: 20px;
        -webkit-background-size: 40px 40px;
                background-size: 40px; } }
  .circle_link {
    font-size: 42px;
    line-height: 46px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; }
    @media screen and (max-width: 690px) {
      .circle_link {
        font-size: 25px;
        line-height: 30px; } }
    .circle_link:hover {
      color: #fcd019; }
    .circle_link ins {
      font-size: 30px;
      line-height: 36px;
      display: block;
      font-weight: normal;
      text-decoration: none; }
      @media screen and (max-width: 690px) {
        .circle_link ins {
          font-size: 20px; } }

.advantage {
  overflow: hidden;
  margin: 0 -25px; }
  @media screen and (max-width: 990px) {
    .advantage {
      margin: 0 -10px;
      text-align: center; } }
  .advantage_item {
    padding: 80px 30px 0 30px;
    float: left;
    width: 22%;
    text-align: center;
    margin: 15px 14px;
    min-height: 160px; }
    @media screen and (max-width: 990px) {
      .advantage_item {
        display: inline-block;
        vertical-align: top;
        float: none;
        margin: 15px 5px;
        width: 30%; } }
    @media screen and (max-width: 660px) {
      .advantage_item {
        width: 46%; } }
    .advantage_item b {
      font-weight: bold; }
    .advantage_item:nth-child(1) {
      background: url("../img/ico-2.png") no-repeat center;
      background-position-y: 5px;
      -webkit-background-size: 100px 100px;
              background-size: 100px; }
    .advantage_item:nth-child(2) {
      background: url("../img/ico-3.png") no-repeat center;
      background-position-y: 5px;
      -webkit-background-size: 100px 100px;
              background-size: 100px; }
    .advantage_item:nth-child(3) {
      background: url("../img/ico-4.png") no-repeat center;
      background-position-y: 5px;
      -webkit-background-size: 100px 100px;
              background-size: 100px; }
    .advantage_item:nth-child(4) {
      background: url("../img/ico-5.png") no-repeat center;
      background-position-y: 5px;
      -webkit-background-size: 100px 100px;
              background-size: 100px; }
    .advantage_item:nth-child(5) {
      background: url("../img/ico-6.png") no-repeat center;
      background-position-y: 5px;
      -webkit-background-size: 100px 100px;
              background-size: 100px; }
    .advantage_item:nth-child(6) {
      background: url("../img/ico-7.png") no-repeat center;
      background-position-y: 5px;
      -webkit-background-size: 100px 100px;
              background-size: 100px; }
    .advantage_item:nth-child(7) {
      background: url("../img/ico-8.png") no-repeat center;
      background-position-y: 5px;
      -webkit-background-size: 100px 100px;
              background-size: 100px; }
    .advantage_item:nth-child(8) {
      background: url("../img/ico-9.png") no-repeat center;
      background-position-y: 5px;
      -webkit-background-size: 100px 100px;
              background-size: 100px; }

.sale {
  background: #1660bf; }
  .sale_block {
    padding: 0 170px;
    text-align: center; }
    @media screen and (max-width: 990px) {
      .sale_block {
        padding: 0;
        width: 370px;
        margin: auto; } }
    @media screen and (max-width: 460px) {
      .sale_block {
        width: 285px; } }
    .sale_block .title {
      color: #fff; }
  .sale_link {
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff; }
    @media screen and (max-width: 460px) {
      .sale_link {
        font-size: 14px; } }
    .sale_link a {
      font-size: 18px;
      line-height: 40px;
      text-transform: uppercase;
      color: #fcd019;
      text-decoration: underline; }
      @media screen and (max-width: 460px) {
        .sale_link a {
          font-size: 14px; } }
      .sale_link a:hover {
        text-decoration: none;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
  .sale_btn {
    margin: 15px 0 5px 0; }

.review {
  padding-bottom: 60px; }
  .review_block {
    padding-top: 30px;
    padding-bottom: 20px; }
  .review_item {
    width: 670px;
    margin: auto;
    text-align: center; }
  .review_photo {
    display: block;
    width: 120px;
    margin: auto; }
  .review_name {
    padding: 10px 0;
    font-size: 16px;
    line-height: 20px;
    display: block; }
    .review_name b {
      display: block;
      font-weight: bold; }
  .review_text {
    padding: 10px 0;
    font-size: 16px;
    line-height: 20px;
    font-style: italic; }

.lastform {
  background: url("../img/background-2.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden;
  padding: 80px 0; }
  @media screen and (max-width: 990px) {
    .lastform {
      padding: 40px 0; } }
  .lastform_label {
    float: left;
    width: 60%;
    text-align: center;
    padding: 30px 20px;
    background: url("../img/ico-11.png") #2e1005 no-repeat center;
    -webkit-background-size: 200px 200px;
            background-size: 200px; }
    @media screen and (max-width: 800px) {
      .lastform_label {
        float: none;
        display: block;
        margin: auto;
        width: 500px; } }
  @media screen and (max-width: 800px) and (max-width: 640px) {
    .lastform_label {
      width: 285px; } }
    .lastform_label .label_offer {
      padding-bottom: 100px; }
    .lastform_label .label_text {
      padding: 30px 65px 0 65px; }
      @media screen and (max-width: 640px) {
        .lastform_label .label_text {
          padding: 30px 20px 0 20px; } }
  .lastform_form {
    float: left;
    width: 40%;
    text-align: center;
    padding: 30px; }
    @media screen and (max-width: 800px) {
      .lastform_form {
        float: none;
        width: 285px;
        padding: 20px 0;
        display: block;
        margin: auto; } }
    @media screen and (max-width: 640px) {
      .lastform_form {
        width: 285px; } }

.contact_block {
  height: 340px;
  margin: 40px 0; }
  @media screen and (max-width: 640px) {
    .contact_block {
      height: 250px;
      margin: 20px 0; } }

.contact_map {
  width: 100%;
  height: 100%; }
  .contact_map #map {
    width: 100%;
    height: 100%; }

.contact_adress {
  width: 340px;
  padding: 100px 0 10px 0;
  margin: auto;
  background: url("../img/ico-12.png") no-repeat center;
  -webkit-background-size: 60px 60px;
          background-size: 60px;
  background-position-y: 0px;
  color: #2e1005;
  text-align: center; }
  @media screen and (max-width: 640px) {
    .contact_adress {
      width: 285px; } }
  .contact_adress span {
    font-size: 18px;
    line-height: 20px; }
  .contact_adress b {
    display: block;
    font-weight: bold; }
  .contact_adress p {
    padding-top: 20px; }

.footer {
  background: #454646;
  overflow: hidden;
  padding: 30px 0;
  position: relative; }
  @media screen and (max-width: 640px) {
    .footer {
      padding: 50px 0 30px 0; } }
  .footer .header_logo {
    width: 38%; }
    @media screen and (max-width: 460px) {
      .footer .header_logo {
        width: 80px; } }
    @media screen and (max-width: 990px) {
      .footer .header_logo {
        top: 35px; } }
  .footer .callback {
    float: left; }
    @media screen and (max-width: 640px) {
      .footer .callback {
        width: 100%; } }
  .footer .callback_time span {
    padding-top: 0; }
  @media screen and (max-width: 990px) {
    .footer .callback_btn {
      display: block; } }

.soc {
  width: 20%;
  float: right;
  position: relative;
  top: 10px;
  text-align: right; }
  @media screen and (max-width: 990px) {
    .soc {
      top: 0; } }
  @media screen and (max-width: 640px) {
    .soc {
      top: 20px;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      width: 100%;
      text-align: center; } }
  .soc_link {
    padding-bottom: 5px; }
    @media screen and (max-width: 640px) {
      .soc_link {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px; } }
  @media screen and (max-width: 640px) {
    .soc .contact_mail {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px; } }
  .soc_item a:last-child i {
    margin-right: 0; }
  .soc_item i {
    font-size: 25px;
    color: #fff;
    margin-right: 2px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .soc_item i:hover {
      color: #fcd019;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }

.slick-dots li button {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #000; }
  .slick-dots li button:before {
    display: none; }

.slick-dots li.slick-active button {
  background: #000; }

.popup_form {
  width: 100%;
  background-color: transparent;
  width: 300px;
  margin: auto; }

.popup_order_bg {
  background: rgba(37, 37, 37, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none; }

.popup_call_bg {
  background: rgba(37, 37, 37, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none; }

.popup_thank_bg {
  background: rgba(37, 37, 37, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none; }

.popup_order {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 40px;
  width: 440px;
  text-align: center;
  height: 400px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fcd019;
  display: none; }
  @media screen and (max-width: 640px) {
    .popup_order {
      width: 300px;
      padding: 40px 0; } }

.popup_call {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 40px;
  width: 440px;
  text-align: center;
  height: 340px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fcd019;
  display: none; }
  @media screen and (max-width: 640px) {
    .popup_call {
      width: 300px;
      padding: 40px 0; } }

.popup_thank {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 40px 20px;
  width: 300px;
  text-align: center;
  height: 340px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #39abb9;
  display: none; }
  .popup_thank .popup_title {
    padding-top: 70px;
    background: url("../img/ico-13.png") no-repeat center;
    background-position-y: 0px;
    -webkit-background-size: 50px 50px;
            background-size: 50px; }
  .popup_thank p {
    font-size: 14px;
    line-height: 18px;
    color: #fff; }

.popup_close {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  color: #bbbaba;
  cursor: pointer;
  font-size: 28px;
  opacity: 0.7; }
  .popup_close:hover {
    color: #fff; }

.popup_title {
  font-size: 18px;
  line-height: 24px;
  padding: 0 10px 15px 10px;
  color: #fff;
  text-transform: uppercase; }

.order_title {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 15px;
  color: #fcd019;
  text-transform: uppercase; }

.order_price {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 15px;
  color: #fff; }

.thank_close {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  color: #bbbaba;
  cursor: pointer;
  font-size: 28px;
  opacity: 0.7; }
  .thank_close:hover {
    color: #fff; }

.error {
  border: 2px solid #E8B6B6 !important; }
