
/* Header */
.wrap {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#wrap {
	height: 100vh;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	     transform: translate3d(-50%,-50%,0);
}
#canvas-block{
	overflow: hidden;
}
.main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}
.portfolio{
	height: 500px;
}

.panel {
    height: 100%;
    width: 100%;
    position: absolute;
    padding-top: 100px;
    min-height: 100vh;
    max-height: 100%;
}
.main{
	background: url('../img/11.jpg');
	background-size: cover;
}
.turqoise{
	background: transparent;
}
.skill{
	background: green;
}
.contact{
	background: red;
}
.portfolio-wrap {
    perspective: 1000px;
}
.portfolio-block {
    width: 680px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transform: rotateX(55deg) rotateZ(-45deg) rotateY(10deg);
    transform-style: preserve-3d;
}
.portfolio-origin {
    transform: rotate(0);
}
img {
  max-width: 100%;
}
.portfolio-item {
	border: 10px solid #fff;
    width: 200px;
    margin: 10px;
    transition: 0.3s;
}
.portfolio-item:hover {
    cursor: pointer;
    transform: translateZ(10px);
}