@font-face {
	font-family: "MyriadProRegular";
	src: url("../css/fonts/MyriadProRegular.eot");
	src: url("../css/fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../css/fonts/MyriadProRegular.woff") format("woff"),
	url("../css/fonts/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

*{
	box-sizing: border-box;
}

html{
	font-size: 75%;
}

body{
	font: normal 1em/1.3 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    min-width: 1300px;
}

.wrap{
	overflow: hidden;
	min-width: 1300px;
}

.clearfix {
    zoom: 1;

    &:after{
	    clear: both;
	    content: ".";
	    display: block;
	    font-size: 0;
	    height: 0;
	    line-height: 0;
	    visibility: hidden;
    }
}

.header{
	height: 65px;
	background: #49678d;
	position: relative;

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 7px;
		z-index: 1;
		background: #ffba00;
	}

	&-content{
		max-width: 1200px;
		min-width: 1200px;
    	margin: 0 auto;
	}

	&-block{
		text-align: center;
	}

	&__item{
		display: inline-block;
		vertical-align: middle;

		&:first-child{
			float: left;
			top: 6px;
			position: relative;
    		z-index: 2;
		}

		&:nth-child(3){
			float: right;
			padding-top: 15px;
		}

		.resize{
			float: left;
			margin: 0 5px;
			cursor: pointer;
			bottom: 3px;
		}

		.language{
			float: left;
			margin: 0 5px;
		}

		.help{
			float: right;
			margin: 0 5px;
			cursor: pointer;
		}
	}

	.search{
		position: absolute;
	    top: 18px;
	    right: 0;   
	    left: 0;
	    bottom: 0;
	    margin: 0 auto;
	}
}

.help{
	line-height: 40px;
	color: #fff;
	font-size: 19px;
	font-weight: 600; 
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

.search{
	max-width: 196px;
	width: 196px;
    cursor: pointer;

    &:before{
    	content: '';
	    transition: color .15s;
	    position: absolute;
	    font-size: 29px;
	    width: 15px;
	    height: 15px;
	    z-index: 2;
	    left: 15px;
	    top: 5px;
	    background: url(../img/ico/ico-search.png) no-repeat center;
		background-size: cover;
    }

    &__field{
	    transition: background .15s,color .15s;
	    padding-right: 10px;
	    padding-bottom: 0;
	    padding-left: 50px;
	    background: #fff;
	    font-weight: 400;
	    line-height: inherit;
	    font-size: 12px;
	    height: 25px;
	    line-height: 17px;
	    width: 100%;
	    border: 0;
	    border-radius: 30px;

	    &:focus{
	    	transition: background 75ms,color 75ms;
	    }

		&:focus::placeholder{
			color: transparent;
			background: transparent;
			background-clip: none;
		}

	    &::placeholder{
	    	font-size: 15px;
	    	font-weight: 600;
	    	background: linear-gradient(to right, #ffba00 1%,#49678d 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
	    }
	}
}

.content{
	max-width: 1150px;
    min-width: 1150px;
	margin: 0 auto;
}

.start-page{
	min-height: calc(100vh - 65px);
	max-height: 100%;
	background: url(../img/background_login.jpg) no-repeat center;
	background-size: cover;
	padding-top: 50px;
    padding-bottom: 100px;

	&__left{
		display: inline-block;
		max-width: 838px;
	}

	&__right{
		display: inline-block;
		width: 277px;
    	float: right;
	}

	&__title{
		font-family: "Minion Pro";
		font-weight: 600;
		font-size: 60px;
		font-style: italic;
		color: #862323;
		transform: rotate(-7deg);
		left: 20px;

		span{
			top: 60px;
			left: 10px;
		}

		ins{
			position: relative;
			top: 120px;
			left: 20px;
		}
	}

	&__img{
		max-height: 419px;
		min-height: auto;
		margin-top: 180px;

		img{
			max-width: 100%;
			object-fit: cover;
		}
	}
}

.form-wrap{
	border: 4px solid #fff;
	padding: 15px;
	height: 270px;
	position: relative;
	font-size: 12px;
	color: #535353;
}

.entry-wrap{
	margin-bottom: 10px;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 0;
		display: block;
		background: url(../img/ico/backg-form2.png) no-repeat center;
		background-size:cover;
		width: 100%;
		height: 100%;
	}
}

.entry-whith-soc{
	text-align: center;

	.ico{
		margin: 0 10px;
	}
}

.registr-wrap{

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 0;
		display: block;
		background: url(../img/ico/backg-form1.png) no-repeat center;
		background-size:cover;
		width: 100%;
		height: 100%;
	}

	.form-entry__button{
		margin-top: 35px;
	}
}

.form-entry{
	width: 100%;

	&__field{
		width: 100%;
		display: block;
		line-height: 30px;
		height: 30px;
		background: linear-gradient(to bottom, #e7e7e7 50%,#d8d8d8 100%);
		box-shadow: inset 0 0 0 1px rgba(172,172,172,.5);
		border: 0;
		padding: 0 10px 0 30px;
		margin-top: 5px;
	}

	&__button{
		height: 30px;
		line-height: 28px;
		display: inline-block;
		text-decoration: none;
	}
	&__forgot{

		display: inline-block;
		text-align: center;
		margin-left: 10px;

		.button-small{
			display: inline-block;
			color: #535353;
			text-decoration: none;
		}
	}

	&__agreement{
		text-align: center;
		font-size: 11px;
		padding-top: 10px;
		color: #692f2f;
		font-weight: 600;

		span{
			color: #fff;
			line-height: 18px;
		}

		a{
			color: #3a4fec;
			transition: .4s;
			line-height: 18px;

			&:hover{
				text-decoration: none;
			}
		}
	}
	.input__login{
		position: relative;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		&:after{
			content: '';
			left: 10px;
    		top: 10px;
			position: absolute;
			width: 10px;
			height: 10px;
			display: block;
			background:  url(../img/ico/ico-login.png) no-repeat center;
			background-size: contain;
			z-index: 3;
		}
	}
	.input__password{
		position: relative;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		margin-bottom: 15px;
		&:after{
			content: '';
			left: 10px;
    		top: 10px;
			position: absolute;
			width: 10px;
			height: 10px;
			display: block;
			background:  url(../img/ico/ico-password.png) no-repeat center;
			background-size: contain;
			z-index: 3;
		}
	}
	.input__phone{
		margin-bottom: 20px;
		position: relative;
	}
	.select__phone{
		.form-entry__field{
			padding-right: 40px;
		}
	}
}

.button-transparent{
	font-weight: normal;
	color: #535353;
	transition: .4s;

	&:hover{
		text-decoration: underline;
	}
}

.button-blue{
	border: 1px solid #111b94;
	box-shadow: inset 0 1px 0 0 #ecc38b, 0 3px 2px 0 rgba(0,0,0,.3);
	background: linear-gradient(to bottom, #49678d 80%,#2d4665 95%);
	border-radius: 3px;
	text-shadow: 1px 1px 0 rgba(244,213,137,.6);
	color: #fff;
	font-weight: 600;

	&:hover{
		border-color: transparent;
		box-shadow: none;
		background: linear-gradient(to bottom, #49678d 90%,#2d4665 100%);
		transition: .4s;
	}
}

.button-small{
	width: 45%;
}

.button-normal{
	width: 180px;
	margin: 0 auto;
    display: block;
}

.button-big{
	width: 100%;
}

.form-title{
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	position: relative;
	margin-bottom: 25px;
}

.form-sub-title{
	line-height: 16px;
	text-align: center;
	margin: 15px 0;
	&:before{
		content: '';
		position: absolute;
		width: 40%;
		height: 1px;
		left: 0;
		top: 11px;
		background: linear-gradient(to left, #b9b9b9 0%,#ffffff 100%);
	}

	&:after{
		content: '';
		position: absolute;
		width: 40%;
		height: 1px;
		right: 0;
		top: 11px;
		background: linear-gradient(to left, #ffffff 0%,#b9b9b9 100%);
	}
}

.title-line-grey{
	position: relative;
	
}

.color-blue{
	color: #49678d;
	text-shadow: 1px 0.5px 0 rgba(244,213,137,.7);
}

.language{
	display: inline-block;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 15px;
		border: 10px solid transparent;
    	border-top: 10px solid #fff;
	}
}

.select-wrap {
	display: block;
	width: 80px;
	line-height: 45px;
	height: 42px;
	padding-left: 2px;
	color: #444;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	
}

.select.active {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}

.drop {
	margin: 0;
	padding: 0;
	width: 80px;
	border-top: none;
	display: none;
	position: absolute;
	background: #49678d;
	z-index: 2;
}

.drop li {
	list-style: none;
	cursor: pointer;
	display: block;
	height: 45px;
	line-height: 45px;
	width: 80px;
	overflow: hidden;
	padding-left: 2px;
}

.drop li span{
	top: 6px;
}

.drop li:hover {
	background: #5c83b4;
}

.phone-wrap {
	display: block;
    width: 40px;
    line-height: 30px;
    height: 30px;
    text-decoration: none;
    padding-left: 2px;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input__phone{
	position: relative;
}

.select__phone{
	width: 40px;
    position: absolute;
    z-index: 3;
    height: 30px;
}

.select__phone.active {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}

.drop__phone {
	margin: 0;
	padding: 0;
	width: 40px;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;
	z-index: 2;
}

.drop__phone li {
	list-style: none;
	cursor: pointer;
	display: block;
	height: 20px;
	line-height: 20px;
	width: 40px;
	overflow: hidden;
	padding-left: 2px;
	background: linear-gradient(to bottom, #e7e7e7 50%,#d8d8d8 100%);
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}

.drop__phone li:hover {
	background: #cdcdcd;
}

.phone-wrap span{
	position: relative;
	margin-left: 2px;
	&:before{
    	content: '';
	    position: absolute;
	    right: -5px;
	    top: 6px;
	    border: 2px solid transparent;
	    border-top: 4px solid #535353;
	    z-index: 4;
    }
    &:after{
		content: '';
		height: 20px;
	    width: 1px;
	    position: absolute;
	    z-index: 7;
	    right: -10px;
	    top: -3px;
	    background: #9d9d9d;
	}
}

.input__phone{
	.form-entry__field{
		padding-left: 40px;
	}
}

.ico-small{
	width: 15px;
	height: 15px;
	display: inline-block;
}
.ico-normal{
	width: 32px;
	height: 32px;
	display: inline-block;
}

.ico{
	width: 32px;
	height: 32px;
	display: inline-block;
	cursor: pointer;
}

.ico-facebook{
	position: relative;

	&:after{
		content: '';
		background: url(../img/ico/ico-facebook.png) no-repeat center;
		background-size: contain;
		display: block;
		height: inherit;
	}
}
.ico-mail{
	position: relative;

	&:after{
		content: '';
		background: url(../img/ico/ico-mail.png) no-repeat center;
		background-size: contain;
		display: block;
		height: inherit;
	}
}
.ico-google{
	position: relative;

	&:after{
		content: '';
		background: url(../img/ico/ico-google.png) no-repeat center;
		background-size: contain;
		display: block;
		height: inherit;
	}
}
.ico-en{
	position: relative;

	&:after{
		content: '';
		background: url(../img/ico/ico-en.png) no-repeat center;
		background-size: contain;
		display: block;
		height: inherit;
	}
}

.ico-mob{
	position: relative;

	&:after{
		content: '';
		background: url(../img/ico/ico-mob.png) no-repeat center;
		background-size: contain;
		display: block;
		height: inherit;
	}
}
.ico-login{
	background-image: url(../img/ico/ico-login.png) no-repeat;
	background-position-image: 10px;
	background-size-image: 70%;
}

.ico-password{
	background-image: url(../img/ico/ico-password.png) no-repeat;
	background-position-image: 10px;
	background-size-image: 70%;
}

.restoring-block{
	text-align: center;
	.search{
		display: none;
	}
}

.restoring_page{
	min-height: calc(100vh - 65px);
	max-height: 100%;
	background: url(../img/background_password.jpg) no-repeat center;
	background-size: cover;
	padding-top: 60px;
}

.restoring{
	height: 350px;
	border: 4px solid #fff;
	color: #fff;
	text-align: center;
	padding-top: 15px;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 0;
		display: block;
		background: url(../img/ico/backg-restoring.png) no-repeat center;
		background-size:cover;
		width: 100%;
		height: 100%;
	}
	&_title{
		font-weight: 600;
		font-size: 24px;
		position: relative;
		line-height: 31px;
	}
	&_text{
		display: inline-block;
		font-weight: 600;
		font-size: 16px;
		line-height: 21px;
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background: #fff;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
		}
	}
	&_block{
		padding-top: 20px;
	}
	&_item{
		width: 130px;
		height: 110px;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		margin: 40px;
		a{
			width: 130px;
			height: 110px;
			display: block;
			text-decoration: none;
			z-index: 1;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: block;
				background: url(../img/ico/ico-background.png) no-repeat center;
				background-size: contain;
				width: 100%;
				height: 100%;
				transition: .4s;
			}
			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				display: block;
				width: 90px;
    			height: 70px;
				transition: .4s;
			}
			&:hover{
				&:before{
					background-image: url(../img/ico/ico-background1.png);
				}
				span{
					color: #49678d;
				}
			}
			span{
				position: absolute;
    			top: 115px;
    			transition: .4s;
    			color: #fff;
    			font-size: 24px;
    			font-weight: 600;
    			left: 0;
    			right: 0;
    			margin: auto;
    			line-height: 26px;
			}
		}
		.ico_restoring_personal{
			&:after{
				background: url(../img/ico/ico-restoring-page1.png) no-repeat center;
				background-size: contain;
			}
			&:hover{
				&:after{
					background-image: url(../img/ico/ico-restoring-page1-1.png);
				}
			}
		}
		.ico_restoring_phone{
			&:after{
				background: url(../img/ico/ico-restoring-page2.png) no-repeat center;
				background-size: contain;
			}
			&:hover{
				&:after{
					background-image: url(../img/ico/ico-restoring-page2-2.png);
				}
			}
		}
		.ico_restoring_mail{
			&:after{
				background: url(../img/ico/ico-restoring-page3.png) no-repeat center;
				background-size: contain;
			}
			&:hover{
				&:after{
					background-image: url(../img/ico/ico-restoring-page3-3.png);
				}
			}
		}
		.ico_restoring_login{
			&:after{
				background: url(../img/ico/ico-restoring-page4.png) no-repeat center;
				background-size: contain;
			}
			&:hover{
				&:after{
					background-image: url(../img/ico/ico-restoring-page4-4.png);
				}
			}
		}
		.ico_restoring_profile{
			&:after{
				background: url(../img/ico/ico-restoring-page5.png) no-repeat center;
				background-size: contain;
			}
			&:hover{
				&:after{
					background-image: url(../img/ico/ico-restoring-page5-5.png);
				}
			}
		}
	}
}

.footer{
	font-family: "MyriadProRegular";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
	text-align: center;
	height: 52px;
	background: rgba(0,0,0,.8);
	font-size: 14px;
	padding-top: 5px;

	&-content{
		max-width: 1200px;
		min-width: 1200px;
		margin: 0 auto;
	}

	&__copy{
		color: #999690;
		display: inline-block;
		vertical-align: middle;
		line-height: 21px;
	}
	&__text{
		color: #999690;
		line-height: 21px;
	}

	&__links{
		display: inline-block;
		line-height: 21px;
	}

	&__link{
		text-decoration: none;
		color: #5493a5;
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px;
		line-height: 21px;
		&:hover{
			text-decoration: underline;
		}
	}
}